{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    {% if auth_level > 0 %}
    {% include 'a_sessiontimeout.html' %}
    {% endif %}
    <div class="content-container">
        <h2 class="ml-4">Settings</h2>
        <h5 class="ml-4 mt-4">Change Language</h5>
        <form method="POST">
            {% csrf_token %}
            <ul>
                <li style="list-style: none;"><a href="#googtrans(en|en)"><input type="radio" name="language"><label for="en">&nbsp;English</label></a></li>
                <li style="list-style: none;"><a href="#googtrans(en|es)"><input type="radio" name="language"><label for="es">&nbsp;Espanol</label></a></li>
                <li style="list-style: none;"><a href="#googtrans(en|pt)"><input type="radio" name="language"><label for="pt">&nbsp;Portugues</label></a></li>
            </ul>
            <h5 class="ml-4 mt-4">Select Display Currency:
        <select name="currency" id="currency">
            {% for currency in currency_list %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </select></h5>
        <button type="submit" class="btn-sm btn-primary">Submit</button>
    </form>
    </div>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>