{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    {% include 'banner.html' %}
        
        <div class="container my-4">
            <div class="container1">
                <h2 class="text-primary">KYC Verification</h2>
            </div>
            
            <div class="container1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload a recent picture of yourself:</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload passport or country photo identification (government issued ID, driver's license, etc.)</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    
                    <div class="form-group">
                        <label for="country">Country (must match country on ID): </label>
                        <select name="country" id="country">
                            {% for id, country in country_dict.items %}
                            <option value="{{ id }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <small>We require this information to comply with AML/KYC standards and guidelines.</small>
                    <br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    autoDisplay: false
                }, 'google_translate_element'); //remove the layout
            }
        </script>
        <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
        </script>
        
        
        <script type="text/javascript">
            function triggerHtmlEvent(element, eventName) {
                var event;
                if (document.createEvent) {
                    event = document.createEvent('HTMLEvents');
                    event.initEvent(eventName, true, true);
                    element.dispatchEvent(event);
                } else {
                    event = document.createEventObject();
                    event.eventType = eventName;
                    element.fireEvent('on' + event.eventType, event);
                }
            }
            
            $('.translation-links a').click(function (e) {
                e.preventDefault();
                var lang = $(this).data('lang');
                $('#google_translate_element select option').each(function () {
                    if ($(this).text().indexOf(lang) > -1) {
                        $(this).parent().val($(this).val());
                        var container = document.getElementById('google_translate_element');
                        var select = container.getElementsByTagName('select')[0];
                        triggerHtmlEvent(select, 'change');
                    }
                });
            });
        </script>
        
        <!-- <div class="row">
            <div class="col-5 d-flex justify-content-center text-center">
                <div class="card container1">
                    <h2 class="text-primary">HAVE FUN USING CRYPTOSHARE!!!</h2>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Login to Account</button>
                </div>
            </div>
            <div class="col-xl-7 d-flex justify-content-center text-center">
                <div class="card container1">
                    <h2 class="text-primary">CREATED BY :</h2>
                    
                    <h5>Anade Davis - Data Science Manager </h5>
                    <h5>Shailee R. Desai - (Project Lead) Data Analyst </h5>
                    <h5>Alexander Rodriguez - (Project Lead) Data Analyst </h5>
                    <h5>William Munson - Data Scientist</h5>
                    <h5>Harleen Bagga - Data Scientist</h5>
                </div>
            </div>
        </div> -->
        
        
        
        
        
        <!-- <div class="hero" style="></div> -->
        
        
        
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
    
    </html>