{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    
    <div class="content-container">
        <h2 class="ml-4">Lend Money</h2>
        <h5 style=text-align:center class="ml-4 mt-4">Coming soon!</h5>
        <!-- <div id="smart-button-container">
            <div style="text-align: center;">
                <div style="margin-bottom: 1.25rem;">
                    <p style="color:black;font-weight: 400;">Select a Loan Tier</p>
                    <select id="item-options">
                        <option value="Tier 1" price="150">Tier 1 - 150 USD</option>
                        <option value="Tier 2" price="300">Tier 2 - 300 USD</option>
                        <option value="Tier 3" price="450">Tier 3 - 450 USD</option>
                        <option value="Tier 4" price="600">Tier 4 - 600 USD</option>
                        <option value="Tier 5" price="750">Tier 5 - 750 USD</option>
                        <option value="Tier 6" price="1000">Tier 6 - 1000 USD</option>
                        <option value="Tier 7" price="2000">Tier 7 - 2000 USD</option>
                        <option value="Tier 8" price="5000">Tier 8 - 5000 USD</option>
                        <option value="Tier 9" price="7500">Tier 9 - 7500 USD</option>
                        <option value="Tier 10" price="9000">Tier 10 - 9000 USD</option>
                    </select>
                    <select style="visibility: hidden" id="quantitySelect"></select>
                </div>
                <div id="paypal-button-container"></div>
            </div>
        </div> -->
    </div>
    
    <!-- <div class="col-xl-7 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">CREATED BY:</h2>
                <h5>Anade Davis - Data Science Manager </h5>
                <h5>Shailee R. Desai - (Project Lead) Data Analyst </h5>
                <h5>Alexander Rodriguez - (Project Lead) Data Analyst </h5>
                <h5>William Munson - Data Scientist</h5>
                <h5>Harleen Bagga - Data Scientist</h5>
            </div>
        </div>
    </div> -->
    <!-- <div class="hero" style="></div> -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
        function initPayPalButton() {
            var shipping = 0;
            var itemOptions = document.querySelector("#smart-button-container #item-options");
            var quantity = parseInt();
            var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
            if (!isNaN(quantity)) {
                quantitySelect.style.visibility = "visible";
            }
            var orderDescription = 'Lend Money';
            if(orderDescription === '') {
                orderDescription = 'Item';
            }
            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'blue',
                    layout: 'vertical',
                    label: 'paypal',
                    
                },
                createOrder: function(data, actions) {
                    var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
                    var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
                    var tax = (0 === 0 || false) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
                    if(quantitySelect.options.length > 0) {
                        quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
                    } else {
                        quantity = 1;
                    }
                    
                    tax *= quantity;
                    tax = Math.round(tax * 100) / 100;
                    var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
                    priceTotal = Math.round(priceTotal * 100) / 100;
                    var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;
                    
                    return actions.order.create({
                        purchase_units: [{
                            description: orderDescription,
                            amount: {
                                currency_code: 'USD',
                                value: priceTotal,
                                breakdown: {
                                    item_total: {
                                        currency_code: 'USD',
                                        value: itemTotalValue,
                                    },
                                    shipping: {
                                        currency_code: 'USD',
                                        value: shipping,
                                    },
                                    tax_total: {
                                        currency_code: 'USD',
                                        value: tax,
                                    }
                                }
                            },
                            items: [{
                                name: selectedItemDescription,
                                unit_amount: {
                                    currency_code: 'USD',
                                    value: selectedItemPrice,
                                },
                                quantity: quantity
                            }]
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {
                        
                        // Full available details
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        
                        // Show a success message within this page, e.g.
                        const element = document.getElementById('paypal-button-container');
                        element.innerHTML = '';
                        element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        
                        // Or go to another URL:  actions.redirect('thank_you.html');
                        
                    });
                },
                onError: function(err) {
                    console.log(err);
                },
            }).render('#paypal-button-container');
        }
        initPayPalButton();
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>