{% load static %}
{% static "images" as baseUrl %}
{% if auth_level > 0 %}
{% include 'a_sessiontimeout.html' %}
{% endif %}
<div class="sidebar-container">
    <div class="sidebar-logo">
            <a href="{% url 'authentication:Signing' %}"><img src="{% static '/images/logo.png' %}"></a>
            <h2><b>CRYPTO$HARE</b></h2>
    </div>
    <br>
    <ul class="sidebar-navigation">
        <!-- <li> -->
            <!-- <a href="{% url 'authentication:Signing' %}"> -->
            {% if auth_level == 3 %}
                <!-- <i class="fas fa-credit-card" aria-hidden="true"></i>&nbsp; CHECK DEBIT CARD INFO -->
            {% else %}
                <!-- <i class="fas fa-credit-card" aria-hidden="true"></i>&nbsp; GET DIGITAL DEBIT CARD -->
            {% endif %}
            <!-- </a> -->
        <!-- </li> -->
        <li>
            <a href="{% url 'atm_functions:CheckBalance' %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i>CHECK BALANCE
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:WithdrawMoney' %}">
                <i class="fas fa-credit-card" aria-hidden="true"></i>&nbsp; WITHDRAW <span style="color:green;">$</span>
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:DepositSelection' %}">
                <i class="fas fa-credit-card" aria-hidden="true"></i>&nbsp; DEPOSIT <span style="color:green;">$</span>
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:BorrowMoney' %}">
                <i class="fa fa-users" aria-hidden="true"></i>BORROW <span style="color:green;">$</span>
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:LendMoney' %}">
                <i class="fa fa-users" aria-hidden="true"></i>LEND <span style="color:green;">$</span>
            </a>
        </li>
        <li>
            <a href="{% url 'atm_functions:EarnMoney' %}">
                <i class="fa fa-users" aria-hidden="true"></i>EARN <span style="color:green;">$</span>
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:Shop' %}">
                <i class="fas fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;SHOP
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:Settings' %}">
                <i class="fas fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;SETTINGS
            </a>
        </li>
        
        <form action="{% url 'authentication:Logout' %}" method="POST">
            {% csrf_token %}
                <button class="m-4 logout">Log out <i
                        class="fa fa-sign-out-alt"></i></button>
        </form>
    </ul>
</div>