{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body">
        </div>
    </div>
    {% include 'banner.html' %}
    
    <div class="container my-4">
        {% include 'messages.html' %}
        <div class="row">
            <div class="card container1">
                <form method="POST">
                    {% csrf_token %}
                    <h2 class="text-primary" style="text-align:center;">Confirm your Phone Number</h2>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="ver_code">Enter the 6 digit verification code sent to your phone number:</label>
                            <input type="text" class="form-control" name="ver_code" placeholder="123-456"
                            id="ver_code" required maxlength="7" pattern="[0-9]{3}\-[0-9]{3}|[0-9]{6}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="ver_pin">Create a 4 digit PIN:</label>
                            <input type="password" class="form-control" name="pin"
                            id="pin" required minlength="4" maxlength="4">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ver_pin">Confirm PIN:</label>
                            <input type="password" class="form-control" name="conf_pin"
                            id="conf_pin" required minlength="4" maxlength="4">
                        </div>
                    </div>
                    <p style="text-align: center;"><small >
                        This PIN will be your password when you sign in.
                    </small></p>

                    <div class="form-row">
                        <div id='phone_match'></div>
                    </div>

                    <br>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary" id="submit"
                        required disabled>Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        // disable submit button until conditions for phone verification code are met
        $('#ver_code').on('keyup', function () {
            if ($('#ver_code').val().length >= 6) {
                $('#submit').prop('disabled', false);
            }
            else {
                $('#submit').prop('disabled', true);
            }
        });
        // make sure PINs match
        $('#pin, #conf_pin').on('keyup', function () {
                if (($('#pin').val().length == 0) || ($('#conf_pin').val().length==0)) {
                    $('#phone_match').html('');
                }
                else if ($('#pin').val() == $('#conf_pin').val())
                {
                    $('#phone_match').html('PINs match').css('color', 'green');
                    $('#submit').prop('disabled', false);
                }
                else {
                    $('#phone_match').html('PINs do not match').css('color', 'red');
                    $('#submit').prop('disabled', true);
                }
            });
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>