{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}

    {% if auth_level > 0 %}
    {% include 'a_sessiontimeout.html' %}
    {% endif %}
    <div class="content-container">
        <h2 class="ml-4">Withdraw Money</h2>
        {% include 'messages.html' %}
        {% if auth_level == 2 %}
        <h5 class="ml-4">Your currency is currently set to {{ current_currency }}. You can change this in <a href="{% url 'atm_functions:Settings' %}">settings.</a></h5>
        {% elif auth_level == 1 %}
        <h5 class="ml-4">Your account currently has limited access.<br>
            To access all of Crypto$hare's features, <a href="{% url 'authentication:Registration' %}">create a digital debit card wallet.</a>
        </h5>
        {% elif auth_level == 0 %}
        <h5 class="ml-4">You are not signed in.<br>
            To access Crypto$hare's features, please <a href="{% url 'authentication:Registration' %}">sign in or create an account.</a>
        </h5>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <h5 class="ml-4 mt-4">Enter amount to withdraw:</h5>
            <div class="input-group ml-4 my-4" style="width:30%;min-width:400px;">
                <input type="number" name="withdraw" class="form-control" min="1"
                aria-label="Dollar amount (with dot and two decimal places)">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary bg-primary text-light" type="submit"
                    id="button-withdraw" disabled>Withdraw (coming soon)</button>
                </div>
            </div>
        </form>
    </div>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    <!-- <div class="hero" style="></div> -->
    
    
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>