<div class="modal fade" id="myModal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Session Timeout Notice</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>For your security, your session will time out after 1 minute.</p>
            <b><p>To stay signed in, click the &times; in the corner, or anywhere outside of this window.</p></b>
        </div>
      </div>
    </div>
</div>
<script>
    // https://stackoverflow.com/questions/23023916/how-to-implement-auto-logout-in-javascript
    var logoutWarn = 1000*60*4; // make logout notice appear after 4 minutes
    var logoutNow = 1000*60; // log out 1 minute after notice appears
    
    var warningTimer;
    var timeoutTimer;

    // start the timer for idling
    function startWarningTimer() {
        warningTimer = setTimeout("idleWarning()", logoutWarn);
    }
    // set timer when page is first opened
    startWarningTimer();

    // reset the timers
    function resetTimers() {
        clearTimeout(timeoutTimer);
        startWarningTimer();
    }
    // show modal
    function idleWarning() {
        clearTimeout(warningTimer);
        timeoutTimer = setTimeout("idleLogout()", logoutNow);
        $('#myModal').modal('toggle');
    }

    // function to redirect to logout page
    // called 1 minute after modal appears
    var idleLogout = function() {
        window.location.href = '/Logout/';
    }

    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the span element that closes the modal
    var span = document.getElementsByClassName("btn-close")[0];
    
    // When the user clicks on (x), close the modal
    // Reset the logout timer
    span.onclick = function() {
        resetTimers();
    }
    
    // When the user clicks anywhere outside of the modal, close it
    // Reset the logout timer
    window.onclick = function(event) {
        if (event.target == modal) {
            resetTimers();
        }
    }
    document.onclick= function(event) {
        resetTimers();
    };
</script>