{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        {% include 'banner.html' %}
        <div class="container my-4">
            <div class="row" style="margin:0px;">
                <video src="{% static '/images/Cryptoshare_PAY.mp4' %}" id="cs_pay"
                style="margin-left:auto;margin-right:auto;zoom:85%;max-width: 100vw;" autoplay loop muted playsinline>
            </div>
            <script> $( window ).load(function() { $('#cs_pay').get(0).play();}); </script>
        </div>
        <div class="container my-4" style="padding-bottom: 200px;">
            <h4 style="text-align:center ;">Already have an Account? <a href="{% url 'authentication:Login' %}">Login here!</a></h4>
            <div class="row">
                    {% include 'messages.html' %}
                    <form method="POST">
                        {% csrf_token %}
                        <h2 class="text-primary" style="text-align:center;">Create your CryptoShare Banq Membership</h2>
                        <br>
                        <div class="mb-3">
                            <label for="email">Enter your email:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" required maxlength="50">
                            <p style="text-align: center; color:black;"><small>
                                Your email will be used to log in.
                            </small></p>
                        </div>
                        
                        <div class="mb-3">
                            <label for="fname">First name:</label>
                            <input type="text" class="form-control" name="fname" id="fname"
                            required maxlength="30">
                        </div>
                        <div class="mb-3">
                            <label for="lname">Last name:</label>
                            <input type="text" class="form-control" name="lname" id="lname"
                            required maxlength="30">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="pin">Create 6 Digit PIN Code:</label>
                                <input type="password"  onpaste="return false;" onkeypress="return ((event.charCode <= 57 && event.charCode >= 48) || (event.charCode ==0 && event.charCode !=8))" class="form-control" name="pin" id="pin"
                                required pattern="[0-9]{6}" maxlength="6" minlength="6">
                            </div>
                            <div class="col">
                                <label for="conf_pin">Confirm 6 Digit PIN Code:</label>
                                <input type="password"  onpaste="return false;" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" class="form-control" name="conf_pin" id="conf_pin"
                                required pattern="[0-9]{6}" maxlength="6" minlength="6">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="country">Country:</label>
                            <select type="text" class="form-control" name="country" id="country" onchange="activateStates();" required>
                                <option disabled selected>Select country</option>
                                {% for country in countries %}
                                <option value="{{ country.0 }}">{{ country.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3" id="usa_states_div" style="display: none">
                            <label for="usa_states">USA States:</label>
                            <select type="text" class="form-control" name="usa_states" id="usa_states" required>
                                <option disabled selected>Select a State</option>
                                <option value="US_CA">California</option>
                                <option value="US_KY">Kentucky</option>
                                <option value="US_MA">Massachusetts</option>
                                <option value="US_MT">Montana</option>
                                <option value="US_ND">North Dakota</option>
                                <option value="US_UT">Utah</option>
                                <option value="US_WY">Wyoming</option>
                                <option value="US_AL" disabled>Alabama (NOT ALLOWED)</option>
                                <option value="US_AK" disabled>Alaska (NOT ALLOWED)</option>
                                <option value="US_AZ" disabled>Arizona (NOT ALLOWED)</option>
                                <option value="US_AR" disabled>Arkansas (NOT ALLOWED)</option>
                                <!-- <option value="US_CA">California</option> -->
                                <option value="US_CO" disabled>Colorado (NOT ALLOWED)</option>
                                <option value="US_CT" disabled>Connecticut (NOT ALLOWED)</option>
                                <option value="US_DE" disabled>Delaware (NOT ALLOWED)</option>
                                <option value="US_DC" disabled>District Of Columbia (NOT ALLOWED)</option>
                                <option value="US_FL" disabled>Florida (NOT ALLOWED)</option>
                                <option value="US_GA" disabled>Georgia (NOT ALLOWED)</option>
                                <option value="US_HI" disabled>Hawaii (NOT ALLOWED)</option>
                                <option value="US_ID" disabled>Idaho (NOT ALLOWED)</option>
                                <option value="US_IL" disabled>Illinois (NOT ALLOWED)</option>
                                <option value="US_IN" disabled>Indiana (NOT ALLOWED)</option>
                                <option value="US_IA" disabled>Iowa (NOT ALLOWED)</option>
                                <option value="US_KS" disabled>Kansas (NOT ALLOWED)</option>
                                <!-- <option value="US_KY">Kentucky</option> -->
                                <option value="US_LA" disabled>Louisiana (NOT ALLOWED)</option>
                                <option value="US_ME" disabled>Maine (NOT ALLOWED)</option>
                                <option value="US_MD" disabled>Maryland (NOT ALLOWED)</option>
                                <!-- <option value="US_MA">Massachusetts</option> -->
                                <option value="US_MI" disabled>Michigan (NOT ALLOWED)</option>
                                <option value="US_MN" disabled>Minnesota (NOT ALLOWED)</option>
                                <option value="US_MS" disabled>Mississippi (NOT ALLOWED)</option>
                                <option value="US_MO" disabled>Missouri (NOT ALLOWED)</option>
                                <!-- <option value="US_MT">Montana</option> -->
                                <option value="US_NE" disabled>Nebraska (NOT ALLOWED)</option>
                                <option value="US_NV" disabled>Nevada (NOT ALLOWED)</option>
                                <option value="US_NH" disabled>New Hampshire (NOT ALLOWED)</option>
                                <option value="US_NJ" disabled>New Jersey (NOT ALLOWED)</option>
                                <option value="US_NM" disabled>New Mexico (NOT ALLOWED)</option>
                                <option value="US_NY" disabled>New York (NOT ALLOWED)</option>
                                <option value="US_NC" disabled>North Carolina (NOT ALLOWED)</option>
                                <!-- <option value="US_ND">North Dakota</option> -->
                                <option value="US_OH" disabled>Ohio (NOT ALLOWED)</option>
                                <option value="US_OK" disabled>Oklahoma (NOT ALLOWED)</option>
                                <option value="US_OR" disabled>Oregon (NOT ALLOWED)</option>
                                <option value="US_PA" disabled>Pennsylvania (NOT ALLOWED)</option>
                                <option value="US_RI" disabled>Rhode Island (NOT ALLOWED)</option>
                                <option value="US_SC" disabled>South Carolina (NOT ALLOWED)</option>
                                <option value="US_SD" disabled>South Dakota (NOT ALLOWED)</option>
                                <option value="US_TN" disabled>Tennessee (NOT ALLOWED)</option>
                                <option value="US_TX" disabled>Texas (NOT ALLOWED)</option>
                                <!-- <option value="US_UT">Utah</option> -->
                                <option value="US_VT" disabled>Vermont (NOT ALLOWED)</option>
                                <option value="US_VA" disabled>Virginia (NOT ALLOWED)</option>
                                <option value="US_WA" disabled>Washington (NOT ALLOWED)</option>
                                <option value="US_WV" disabled>West Virginia (NOT ALLOWED)</option>
                                <option value="US_WI" disabled>Wisconsin (NOT ALLOWED)</option>
                                <!-- <option value="US_WY">Wyoming</option> -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="birthdate">Birthdate:</label>
                            <input onclick="dateController();" type="date" class="form-control" name="birthdate" id="birthdate" max=""
                            required>
                        </div>
                        <div class="mb-3 " >
                            
                            <div class="justify-content-md-center">
                                
                            </div>
                        </div>
                        <div class="container" id="toggle-pin">
                            <div class="row justify-content-md-center">
                                <label for="ShowPin">Show PIN:</label>
                                <div class="col-md-auto">
                                    <input  type="checkbox" style="width: 40px; height: 40px; " onclick="togglePINVis()">
                                </div>
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div id='pin_match'></div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="confirm_terms" name="confirm_terms" required>
                            <label class="form-check-label" for="confirm_terms">
                                <em>I accept the 1% Commission for my Banq Membership on all transactions</em>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="confirm_terms3" name="confirm_terms3" required>
                            <label class="form-check-label" for="confirm_terms3">
                                <em>I attest that I am 18 years old and Agree to the
                                    <a href="https://docdro.id/rawVjvg" target="_blank">Terms & Conditions</a>
                                    ,
                                    <a href="https://docdro.id/astXB3F" target="_blank">Privacy Policy</a>
                                    ,
                                    <a href="https://docdro.id/kW3wSB7" target="_blank">Restricted Jurisdiction Policy</a>
                                    , & AML Program.
                                    </em>
                            </label>
                        </div>
                        
                        <div class="mb-3">
                            <label for="referral_code">Enter Referral code:</label>
                            <input type="text" class="form-control" name="referral_code" id="referral_code" placeholder="Referral code" maxlength="30">
                        </div>

                        <div class="mb-3">
                            <label for="promo_code">Enter Promo code:</label>
                            <input type="text" class="form-control" name="promo_code" id="promo_code" placeholder="Promotion code" maxlength="30">
                        </div>


                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-primary" id="submit" disabled>Submit</button>
                            <button class="btn btn-primary" type="button" onclick='location.href="{% url 'authentication:Home' %}"'>
                                Back
                            </button>
                        </div>
                        
                    </form>
                    <br>
                    
            </div>
        </div>
    </div>
    
    <!-- STARTING GENIUS REFERRALS TRACKING CODE -->
    <script type="text/javascript">
        !function (){
            const submit = function (e){
                const grFirstName=document.getElementsByName("fname")[0].value,
                grLastName=document.getElementsByName("lname")[0].value,
                grEmail=document.getElementsByName("email")[0].value,
                grMetadata='['+']';
                if (grEmail != '') {
                    e.preventDefault();
                    const grSetting={
                        "grTemplateSlug": "advocate-portal-280",
                        "grCustomerFirstname": grFirstName,
                        "grCustomerLastname": grLastName,
                        "grCustomerEmail": grEmail,
                        "grMetadata": grMetadata,
                        "grCustomerCurrencyCode": "USD", /** your customers currency code **/
                        "grCanRefer": "false",
                        "grReference" : "1643387502" /** could be the order id, timestamp, etc. **/
                    }
                    const button = this;
                    GRToolbox.processCustomerAndBonus(grSetting).then(function(){
                        button.onclick=function(){};button.click();
                    }
                    );
                    }
        };
        const grSettingCookie={
            "grCookieLifeTime": "180",
        },
        e=window,t=document;e.addEventListener("load",function(){const e=t.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://e9f87d8c82343264e6ba-2977c39e5e9390b1a89ab5ed2a171102.ssl.cf1.rackcdn.com/toolbox/geniusreferrals-toolbox_3.3.1.min.js",e.onload=function(){GRToolbox.catchReferrer(grSettingCookie);t.getElementById("submit").onclick = submit;};const n=t.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)},!1)}();
            
                    
    </script>
                    <!-- ENDING GENIUS REFERRALS TRACKING CODE -->
                    

    <script type="text/javascript">
                        // toggle PIN visibility
        function togglePINVis() {
            var button = document.getElementById("pin");
            var button2 = document.getElementById("conf_pin");
            if (button.type == 'password') {
                button.type = 'text';
                button2.type = 'text';
            } else {
                button.type = 'password';
                button2.type = 'password';
            }
        }
        // set PIN matching text
        $('#pin, #conf_pin').on('keyup', function () {
            if (($('#pin').val().length == 0) || ($('#conf_pin').val().length==0)) {
                $('#pin_match').html('');
            }
            else if ($('#pin').val() == $('#conf_pin').val())
            {
                if (($('#pin').val().length == 6) & ($('#conf_pin').val().length==6)) {
                    $('#pin_match').html('PINs match!').css('color', 'green');
                    $('#submit').prop('disabled', false);
                }
                else {
                    $('#pin_match').html('PIN must be 6 digits.').css('color', 'red');
                    $('#submit').prop('disabled', true);
                }
            }
            else {
                $('#pin_match').html('PINs do not match.').css('color', 'red');
                $('#submit').prop('disabled', true);
            }
        });
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    <script>
        function dateController() {
            dateInput = document.getElementById("birthdate");

            DIFFERENCE = 568036800000;
            currentDate = new Date();
            majorDate = currentDate - DIFFERENCE;
            
            maxDate = new Date(majorDate);

            dateInput.max = maxDate.toISOString().split("T")[0];
        }
    </script>

    <script type="text/javascript">
        function activateStates() {
            var countryInput = document.getElementById("country");
            var statesDiv = document.getElementById("usa_states_div");

            var country = countryInput.value;
            if (country == "US"){
                statesDiv.style.display = "block";
            }else{
                statesDiv.style.display = "none";
            }



        }
        function registerEmail(){
            var url = "{% url 'atm_functions:RegisterWaitlistEmail' %}"
            var data = {
                email: document.getElementById("UserEmail");
            };
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function(response){
                    console.log(response);
                },
                error: function(response){
                    console.log(response);
                }
            });
        };
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        // window.onload = function() {
        //     if (!localStorage.hideUSAList) {
        //         $('#USAWaitingList').modal('toggle');
        //     }
        // }

        function USA_Waiting_Acceptance(){
            localStorage.setItem('hideUSAList', true);
            $("#USAWaitingList").modal('hide');
        }
    </script>
    {% include 'footer.html' %}

</body>

</html>
<!-- Modal -->
<div class="modal fade" id="USAWaitingList" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">USA WAITING LIST</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <b><p>US Residents Join Waiting List</p></b>
            <p>IF you are from US, please enter your email for joining the waiting list.</p>
            <div class="d-flex justify-content-center">
                <form action="{% url 'atm_functions:RegisterWaitlistEmail' %}" method="post" onsubmit="USA_Waiting_Acceptance()">
                    {% csrf_token %}
                    <div style="text-align:center; margin: 30px;" >
                        <div class="col-auto my-1">
                            <input type="email" style="text-align:center;" name="UserEmail" class="form-control-plaintext border border-primary" id="UserEmail" placeholder="Your Email" required>
                        </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-success" data-toggle="modal" id="SubmitToList">Join the Waiting List</button> 
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>