{% load static %}
{% static "images" as baseUrl %}
{% if request.user.is_authenticated %}
{% include 'a_sessiontimeout.html' %}
{% include 'includes/notifications_sidebar.html' %}
{% endif %}
        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!--========== HEADER ==========-->
    <header class="header">
        <div class="header__container">
            <img src="{% static '/images/logo.png' %}" alt="" class="header__img" onclick='location.href="{% url 'atm_functions:Home' %}"'>

            {% if request.user.is_authenticated %}

            {% include 'currencies_widget.html' %}
            {% endif %}

            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle" style="color: white;"></i>
            </div>
        </div>
    </header>


<br>
<div class="nav" id="navbar">
    <nav class="nav__container">
        <div>           
            <div class="nav__items nav__logo">
                <!-- <a href="{% url 'atm_functions:Home' %}" class="sidebar-logo"><img src="{% static '/images/logo.png' %}"></a> -->

                {% if request.user.is_authenticated %}
    
                <span class="nav__logo-name mt-2" id="credit_grade" style="color: white;"><b>CREDIT GRADE: </b></span>
    
                <span class="nav__name" ><a href="{% url 'atm_functions:BuyCredit' %}">(Improve Credit Grade)</a></span>
                
                <a class="btn btn-primary nav__name" data-bs-toggle="offcanvas" href="#offcanvasRight" role="button" aria-controls="offcanvasRight">
                    <i class='bx bxs-bell' style="color: gold;"></i>
                </a>
                {% endif %}
            </div>

            <div class="nav__list">
                <div class="nav__items">
                    <h3 class="nav__subtitle">Services</h3>
                    <div class="nav__dropdown nav__link2">
                        <a class="nav__link">
                            <i class="nav__icon bx bxs-home" style="color: gold;"></i>
                            <span class="nav__name">HOME / WALLETS</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content" style="padding-left: 15px; margin-right: 15px ;">
                                <a href="{% url 'atm_functions:Home' %}" class="nav__link">
                                    <i class="nav__icon bx bxs-home" style="color: gold;"></i>
                                    <span class="nav__name">HOME / WALLETS</span>
                                </a>
                                {% if request.session.country_code != "US" %}
                                <a href="{% url 'atm_functions:CryptoShareWallet' %}" class="nav__link">
                                    <i class="nav__icon bx bx-bitcoin" style="color: gold;"></i>
                                    <span class="nav__name">CRYPTO WALLET</span>
                                </a>
                                {% endif %}
                                <a href="{% url 'atm_functions:Contacts' %}" class="nav__link">
                                    <i class="nav__icon bx bxs-contact" style="color: gold;"></i>
                                    <span class="nav__name">CONTACTS</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <a href="{% url 'atm_functions:CreditGrades' %}" class="nav__link">
                        <i class="nav__icon bx bxs-landmark" style="color: gold;"></i>
                        <span class="nav__name">BUY CREDIT</span>
                    </a>

                    <div class="nav__dropdown nav__link2">
                        <a class="nav__link">
                            <i class="nav__icon bx bxs-paper-plane" style="color: gold;"></i>
                            <span class="nav__name">PAYMENTS</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                {% if request.session.country_code != "US" %}
                                <a href="{% url 'atm_functions:TransferMoney' %}" class="nav__link">
                                    <i class="nav__icon bx bxl-bitcoin" style="color: gold;"></i>
                                    <span class="nav__name">CRYPTO</span>
                                </a>
                                <a href="{% url 'atm_functions:MyTransactions' %}" class="nav__link">
                                    <i class="nav__icon bx bxs-book" style="color: gold;"></i>
                                    <span class="nav__name">TRANSACTIONS</span>
                                </a>
                                {% endif %}
                                <a href="{% url 'atm_functions:TransferCredits' %}" class="nav__link">
                                    <i class="nav__icon bx bxs-coin-stack" style="color: gold;"></i>
                                    <span class="nav__name">CS CREDITS</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <a href="{% url 'atm_functions:Insurance' %}" class="nav__link">
                        <i class="nav__icon bx bxs-lock-alt" style="color: gold;"></i>
                        <span class="nav__name">INSURANCE</span>
                    </a>

                    <div class="nav__dropdown nav__link2">
                        <a class="nav__link">
                            <i class="nav__icon bx bxs-briefcase" style="color: gold;"></i>
                            <span class="nav__name">BUSINESSES</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a href="{% url 'businesses:Businesses' %}" class="nav__link">
                                    <i class="nav__icon bx bxs-briefcase" style="color: gold;"></i>
                                    <span class="nav__name">BUSINESSES</span>
                                </a>
                                <a href="" class="nav__link">
                                    <i class="nav__icon bx bx-store" style="color: gold;"></i>
                                    <span class="nav__name">MARKETPLACE</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <a href="{% url 'atm_functions:BlockchainWills' %}" class="nav__link">
                        <i class="nav__icon fa-solid fa-file-signature" style="color: gold;"></i>
                        <span class="nav__name">DIGITAL WILLS</span>
                    </a>

                    <a href="{% url 'atm_functions:EditEstateNetWorth' %}" class="nav__link">
                        <i class="nav__icon fa-solid fa-chart-line" style="color: gold;"></i>
                        <span class="nav__name">NET WORTH</span>
                    </a>

                    <div class="nav__dropdown nav__link2">
                        <a href="#" class="nav__link">
                            <i class="nav__icon bx bxs-cog" style="color: gold;"></i>
                            <span class="nav__name">SETTINGS</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a href="{% url 'atm_functions:Profile' %}" class="nav__link">
                                    <i class="nav__icon bx bxs-user-circle" style="color: gold;"></i>
                                    <span class="nav__name">PROFILE</span>
                                </a>
                                <a href="{% url 'atm_functions:Settings' %}" class="nav__link">
                                    <i class="nav__icon bx bxs-cog" style="color: gold;"></i>
                                    <span class="nav__name">SETTINGS</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if request.user.is_authenticated %}
        <form action="{% url 'authentication:Logout' %}" id="logout" method="POST">
            {% csrf_token %}
        </form>
        <a onclick="$('#logout').submit();" href="#logout" class="nav__link nav__logout">
            <i class='bx bx-log-out nav__icon' ></i>
                <span class="nav__name">Log Out</span>
        </a>
        
        {% endif %}
    </nav>
</div>
{% include 'crisp_client.html' %}

    
<script type="text/javascript">
    window.onload = function() {
        // console.log(localStorage.hideAlert);
        // if (!localStorage.hideAlert) {
        //     $('#DepositWarning').modal('toggle');
        // }
        if ({{ request.user.is_authenticated|yesno:"true,false" }}){
            GetCreditGrade();
            GetNotifications();
        }
    }

    function neverShowAgainModal() {
        localStorage.setItem('hideAlert', true);
        $("#DepositWarning").modal('hide');
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != "") {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }
    // document.getElementById("pay_amount").innerHTML = "Amount : "+ offerAmount;

    function GetCreditGrade(){
        var url = "{% url 'atm_functions:GetCreditGrade' %}";
        var data = {
            csrfmiddlewaretoken: getCookie('csrftoken')
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(response){
                document.getElementById("credit_grade").innerHTML = "CREDIT GRADE: "+ response["credit_grade"];
            },
            error: function(response){
                document.getElementById("credit_grade").innerHTML = "CREDIT GRADE: ERROR";
            }
        });
    };
</script>
<script src="{% static 'js/sidebar.js' %}"></script>


<style>
    .sidebarCoin {
        height: 20px;
        width: auto;
        position: relative;
        padding-left: 5px;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="DepositWarning" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">DEPOSIT ACCEPTANCE FORM</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>This is a Message from CryptoShare.</p>
            <b><p>We Require 1% of each Crypto Deposit of our members. This is used to Create Reserves and Maintain the Platform.</p></b>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="NeverShowAgain" onclick="neverShowAgainModal()">Never show again</button>
        </div>
      </div>
    </div>
</div>