{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    {% if auth_level > 0 %}
    {% include 'a_sessiontimeout.html' %}
    {% endif %}
    <div class="content-container">
        <h2 class="ml-4">Settings</h2>
        <h5 class="ml-4 mt-4">Change Language</h5>
        <div class="ml-4 mt-4">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control col-md-2" aria-label="Default select example" name="language" onchange="location = this.value; this.form.submit();">
                        <option selected disable>Select language</option>
                        <option value="#googtrans(en|en)" data-lang="en">English</option>
                        <option value="#googtrans(en|es)" data-lang="en">Español</option>
                        <option value="#googtrans(en|pt)" data-lang="en">Portugues</option>
                        <option value="#googtrans(en|zh-CN)" data-lang="en">中国人</option>
                        <option value="#googtrans(en|fr)" data-lang="en">Français</option>
                        <option value="#googtrans(en|it)" data-lang="en">Italiano</option>
                        <option value="#googtrans(en|ro)" data-lang="en">Română</option>
                        <option value="#googtrans(en|sv)" data-lang="en">Svenska</option>
                        <option value="#googtrans(en|no)" data-lang="en">Norsk</option>
                        <option value="#googtrans(en|da)" data-lang="en">Dansk</option>
                        <option value="#googtrans(en|pl)" data-lang="en">Polski</option>
                        <option value="#googtrans(en|hi)" data-lang="en">Hindi</option>
                        <option value="#googtrans(en|id)" data-lang="en">bahasa Indonesia</option>
                        <option value="#googtrans(en|ru)" data-lang="en">Русский</option>
                        <option value="#googtrans(en|bn)" data-lang="en">বাংলা</option>
                        <option value="#googtrans(en|ar)" data-lang="en">আরবি</option>
                        <option value="#googtrans(en|de)" data-lang="en">Deutsch</option>
                        <option value="#googtrans(en|ja)" data-lang="en">日本</option>
                        <option value="#googtrans(en|tr)" data-lang="en">Türk</option>
                        <option value="#googtrans(en|ko)" data-lang="en">한국인</option>
                    </select>
                </div>
            </form>
        </div>

    </div>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
</body>

</html>