{% load static %}
{% static "images" as baseUrl %}
{% if name is not None %}
{% include 'a_sessiontimeout.html' %}
{% endif %}
<div class="sidebar-container">
    <div class="sidebar-logo"">
            <a href="{% url 'atm_functions:Home' %}"><img src="{% static '/images/logo.png' %}"></a>
            {% if request.user.is_authenticated %}
            <h2 id="credit_grade"><b>CREDIT GRADE: </b></h2>
            <h6 style="text-align: center;"><a href="{% url 'atm_functions:BuyCredit' %}">(Improve Credit Grade)</a></h6>
            {% endif %}
            <!-- <h2 id="title"><b>COINBASE</b></h2>
            {% if request.session.wallet_conn %}
            <h3 style="text-align: center;"> Wallet connected </h3>
            {% else %}
            <h3 style="text-align: center;"> Wallet not connected </h3>
            {% endif %} -->
    </div>
    <br>
    <ul class="sidebar-navigation" id="features">

        <!-- <li style="border-style: none none solid none;border-color: white" id="desc">
            {% if request.session.wallet_conn %}
            <a href="{% url 'atm_functions:DisconnectWallet' %}">
                <i class="fas fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;DISCONNECT WALLET
            </a>
            {% else %}
            <a href="{% url 'atm_functions:ConnectWallet' %}">
                <i class="fas fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;CONNECT WALLET
            </a>
            {% endif %}

        </li> -->

        <li style="border-style: solid none none none;border-color: white" id="desc">
            <a href="{% url 'atm_functions:Home' %}">
                <i class="fa-solid fa-house"></i></i>&nbsp;&nbsp;HOME
            </a>
        </li>

        <li style="border-style: solid none none none;border-color: white" id="desc">
            <a href="{% url 'atm_functions:BuyCrypto' %}">
                <i class="fas fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;BUY CRYPTO
            </a>
        </li>

        <li style="border-style: solid none none none; border-color: white">
            <a href="{% url 'atm_functions:CryptoShareWallet' %}">
                <i class="fa-solid fa-wallet" aria-hidden="true"></i>&nbsp; CRYPTO$HARE WALLET<span style="color:green;">$</span>
            </a>
        </li>

        <li>
            <!-- <a href=""> -->
            <a href="{% url 'atm_functions:BuyCredit' %}">
                <i class="fa-solid fa-sack-dollar" aria-hidden="true"></i>&nbsp;&nbsp;BUY CREDIT<span style="color:green;">$</span>
            </a>
        </li>        

        <li>
            <a href="{% url 'atm_functions:CreditGrades' %}">
                <i class="fa-solid fa-landmark-dome"></i>&nbsp;&nbsp;CREDIT GRADES
            </a>
        </li>

        <li style="border-style: none none solid none;border-color: white">
            <a href="{% url 'atm_functions:TransferMoney' %}">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>TRANSFER<span style="color:green;">$</span>
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:CheckCredit' %}">
                <i class="fa fa-info-circle" aria-hidden="true"></i>CHECK CREDIT
            </a>
        </li>

        <li style="border-style: none none solid none;border-color: white">
            <a href="{% url 'atm_functions:MyTransactions' %}">
                <i class="fa fa-book" aria-hidden="true"></i>MY TRANSACTIONS
            </a>
        </li>

        <li>
            <a href="">
                <i class="fas fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;DEBIT CARD (JUNE 2022)
            </a>
        </li>

        <li>
            <a href="{% url 'atm_functions:Settings' %}">
                <i class="fas fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;SETTINGS
            </a>
        </li>
        {% if request.user.is_authenticated %}
        <form action="{% url 'authentication:Logout' %}" method="POST">
            {% csrf_token %}
                <button class="m-4 logout">Log out <i
                        class="fa fa-sign-out-alt"></i></button>
        </form>
        {% endif %}
    </ul>
</div>
{% include 'crisp_client.html' %}

    
<script type="text/javascript">
    window.onload = function() {
        if ({{ request.user.is_authenticated|yesno:"true,false" }}){
            GetCreditGrade();
        }
    }
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != "") {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }
    // document.getElementById("pay_amount").innerHTML = "Amount : "+ offerAmount;

    function GetCreditGrade(){
        var url = "{% url 'atm_functions:GetCreditGrade' %}";
        var data = {
            csrfmiddlewaretoken: getCookie('csrftoken')
        };
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(response){
                document.getElementById("credit_grade").innerHTML = "CREDIT GRADE: "+ response["credit_grade"];
            },
            error: function(response){
                document.getElementById("credit_grade").innerHTML = "CREDIT GRADE: ERROR";
            }
        });
    };
</script>