{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}

<body>
    {% include 'atm_sidebar.html' %}

    {% if authConfirmation %}
    {% include 'messages.html' %}
    <div class="content-container">
        <h2 class="ml-4">Borrow Crypto Dashboard</h2>
        <div class="card" style="background-color: rgba(133, 133, 133, 0.527); border-radius: 0%;">
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-4">
                    <div class="card" style="background-color: rgba(216, 216, 216, 0.918);">
                        <img src="https://dash-bootstrap-components.opensource.faculty.ai/static/images/placeholder286x180.png"
                            class="card-img-top" alt="...">
                        <div class="card-body" style="min-height: 200px; max-height: 500px;">
                            <u>
                                <h5 class="card-title" style="text-align: center;"><b>Step 1 (Optional)</b></h5>
                            </u>
                            <p class="card-text" style="text-align: center; color: black;">Connect to your Coinbase Wallet <br>
                                <em>(The one you are going to send funds from)</em>.</p>
                            <!-- <a href="#screen_iframe" onclick="changeIframeSRC(1)" class="btn btn-primary"
                                style="color: white;">Go to register address</a> -->
                            {% if request.session.wallet_conn %}
                            <h2 style="text-align: center; color: rgb(15, 136, 15)"> Ready</h2>
                            {% else %}
                            <a href="https://www.coinbase.com/oauth/authorize?response_type=code&client_id=35fb284ac9af15803924d53bb3cbc1890f147c526439f60cbc76f156004701e3&redirect_uri=https%3A//www.cryptoshareapp.com/atm/ApproveWallet/&scope=wallet:accounts:read,wallet:user:email,wallet:transactions:send&meta[send_limit_amount]=1"
                                class="btn btn-primary" style="color: white;">
                                Connect wallet
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="background-color: rgba(216, 216, 216, 0.918);">
                        <img src="https://dash-bootstrap-components.opensource.faculty.ai/static/images/placeholder286x180.png"
                            class="card-img-top" alt="...">
                        <div class="card-body" style="min-height: 200px; max-height: 500px;">
                            <u>
                                <h5 class="card-title" style="text-align: center; color: black;"><b>Step 2</b></h5>
                            </u>
                            <p class="card-text" style="text-align: center; color: black;">Register your public ETH address.</p>
                            <br>
                            <a href="#screen_iframe" onclick="changeIframeSRC(1)" class="btn btn-primary"
                                style="color: white;">Go to Register Address</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="background-color: rgba(216, 216, 216, 0.918);">
                        <img src="https://dash-bootstrap-components.opensource.faculty.ai/static/images/placeholder286x180.png"
                            class="card-img-top" alt="...">
                        <div class="card-body" style="min-height: 200px; max-height: 500px;">
                            <u>
                                <h5 class="card-title" style="text-align: center; color: black;"><b>Step 3</b></h5>
                            </u>
                            <p class="card-text" style="text-align: center; color: black;">Select an instant loan option
                                or create your own loan offer!</p>
                            <a href="#screen_iframe" onclick="changeIframeSRC(2)" class="btn btn-primary"
                                style="color: white;">Go Crypto Loans</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-lg">
                    <div class="card" style="background-color: rgba(216, 216, 216, 0.918);">
                        <div class="card-body" style="min-height: 200px; max-height: 500px;">
                            <u>
                                <h5 class="card-title" style="text-align: center;"><b>Step 4 (Optional)</b></h5>
                            </u>
                            <p class="card-text" style="text-align: center; color: black;">If you didn't have enought collateral deposited, you can deposit your collateral later for opening your loan offer.</p>
                            <a href="#screen_iframe" onclick="changeIframeSRC(3)" class="btn btn-primary"
                                style="color: white;">Go Crypto Loans</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <iframe id="screen_iframe" height=70% width="100%" src=""></iframe>


    </div>

    {% endif %}

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>

    <script type="text/javascript">
        function changeIframeSRC(option) {
            newSrc = ""
            if (option == 1) {
                newSrc = "{% url 'atm_functions:RegisterAddress' %}?iframe=1"
            } else if (option == 2) {
                newSrc = "{% url 'atm_functions:CryptoShareWallet' %}?iframe=1"
            } else if (option == 3) {
                newSrc = "{% url 'atm_functions:MyTransactions' %}?iframe=1"
            }
            document.getElementById('screen_iframe').src = newSrc;

        }
    </script>


    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }

        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>