{% load static %}
{% load tz %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}

<body>
    {% if iframe is None %}
    {% include 'atm_sidebar.html' %}
    {% endif %}
    <div class="content-container">
        {% include 'messages.html' %}
        {% include 'a_sessiontimeout.html' %}
        <h2 class="ml-4 text-primary">Buy Security</h2>
        <br>
        <h4 class="m-3">
            <strong>
                Each plan covers 6 months of Protection
            </strong>
        </h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$2 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 599 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $12
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$3 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 999 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $18
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$4 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 9,999 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $24
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$5 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 59,999 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $30
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$6 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 99,999 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $36
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$7 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 599,999 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $42
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$8 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 999,999 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $48
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$9 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 9,999,999 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $54
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">$10 a month</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Covers up to 10,000,000 Cryptoshare credits 
                        </p>
                        <h5 class="card-text">
                            $60
                        </h5>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cryptoshare Security Plan</th>
                        <th scope="col">Insurance</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td style="border-right: 2px;">Includes Cryptoshare Credit Incentives.</td>
                            <td>No Incentives just Insurance.</td>
                        </tr>
                        <tr>
                            <td>Doesn't cover Accidental Transactions or Loss.</td>
                            <td>It covers accidental transactions or loss.</td>
                        </tr>
                        <tr>
                            <td>Doesn't provide coverage for Third Party theft not associated with Cryptoshare.</td>
                            <td>Provides coverage for Third Party theft.</td>
                        </tr>
                        <tr>
                            <td>Doesn't cover total loss.</td>
                            <td>Covers total loss.</td>
                        </tr>
                        <tr>
                            <td>Doesn't Replace Original Currency.</td>
                            <td>Replaces Original Currency.</td>
                        </tr>
                        <tr>
                            <td>Compensation is in Cryptoshare Credits.</td>
                            <td>Compensation is in Digital or Fiat Assets.</td>
                        </tr>
                </tbody>
            </table>
        </div>


    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>


    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }

        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });

        window.onload = function() {
            // console.log(localStorage.hideAlert);
            if (!localStorage.hideSecurityAlert) {
                $('#SecurityWarning').modal('toggle');
            }
            if ({{ request.user.is_authenticated|yesno:"true,false" }}){
                GetCreditGrade();
            }
        }
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

<!-- Modal -->
<div class="modal fade" id="SecurityWarning" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="security" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="security">INSURANCE ACCEPTANCE FORM</h5>
        </div>
        <div class="modal-body">
            <form action="/atm/BuySecurity/" method="post" onsubmit="localStorage.setItem('hideSecurityAlert', true); $('#SecurityWarning').modal('hide');">
                {% csrf_token %}
                <p><strong>I Understand Cryptoshare Security Subscription:</strong></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb1" name="cb1" required>
                    <label class="form-check-label" for="cb1">
                        Is Not Insurance
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb2" name="cb2" required>
                    <label class="form-check-label" for="cb2">
                        Can Guarantee Cryptoshare Credits in case of a Hack or Fraud
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb3" name="cb3" required>
                    <label class="form-check-label" for="cb3">
                        Is Equivalent to a Protection Plan for your Wallets within Cryptoshare
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb4" name="cb4" required>
                    <label class="form-check-label" for="cb4">
                        Gives Compensation in Cryptoshare Credits not Fiat or Cryptocurrency 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb5" name="cb5" required>
                    <label class="form-check-label" for="cb5">
                        1 Cryptoshare Credit can be calculated as 1 $USDC 
                    </label>
                </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-success" id="NeverShowAgain">ACCEPT</button>
        </div>
        </form>

      </div>
    </div>
</div>