{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}

    {% include 'a_sessiontimeout.html' %}
    <div class="container-fluid">
        {% include 'messages.html' %}
        <h2 class="ml-4">Buy Credit</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/50_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">50 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 50 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2" href="{% url 'atm_functions:StripeCheckout' %}?product=CSC_50" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/100_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">100 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 100 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2" href="{% url 'atm_functions:StripeCheckout' %}?product=CSC_100" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/600_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">600 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 600 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2" href="{% url 'atm_functions:StripeCheckout' %}?product=CSC_600" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/10-000_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">10,000 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 10,000 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2" href="{% url 'atm_functions:StripeCheckout' %}?product=CSC_10-000" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/60-000_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">60,000 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 60,000 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2" href="{% url 'atm_functions:StripeCheckout' %}?product=CSC_60-000" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/100-000_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">100,000 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 100,000 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2" href="{% url 'atm_functions:StripeCheckout' %}?product=CSC_100-000" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/600-000_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">600,000 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 600,000 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2" href="{% url 'atm_functions:StripeCheckout' %}?product=CSC_600-000" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <img src="{% static '/images/cryptoshare_credits/1-000-000_csc.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">1,000,000 Crypto$hare Credits</h5>
                        <p class="card-text">
                            Buying this will credit your account with 1,000,000 Crypto$hare Credits.
                        </p>
                        <div class="d-grid gap-lg-4 d-md-block">
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Debit Card</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Crypto</a>
                            <a class="btn btn-primary m-2 disabled" href="#" role="button">Buy with Bank Account</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>       

    </div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
{% include 'atm_footer.html' %}
</html>

<!-- Modal -->
<div id="CreditGradesModal" class="modal" style="z-index: 2000;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>Get Money to Lend Credit Grade (Equivalent to $USDC)</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center; white-space: nowrap;">CREDIT GRADE</th>
                    <th scope="col" style="text-align: center;">PRICE</th>
                    <th scope="col" style="text-align: center;">ALLOWED BORROWERS (PER MONTH)</th>
                    <th scope="col" style="text-align: center;">TOTAL REVENUE (PER MONTH)</th>
                  </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td style="text-align: center;">FFF</td>
                        <td style="text-align: center;">X</td>
                        <td style="text-align: center;">X</td>
                        <td style="text-align: center;">X</td>
                    </tr>
                    
                    <tr>
                        <td style="text-align: center;">FF</td>
                        <td style="text-align: center;">X</td>
                        <td style="text-align: center;">X</td>
                        <td style="text-align: center;">X</td>
                    </tr>

                    <tr>
                        <td style="text-align: center;">F</td>
                        <td style="text-align: center;">$100</td>
                        <td style="text-align: center;">2</td>
                        <td style="text-align: center;">$200</td>
                    </tr>
    
                    <tr>
                        <td style="text-align: center;">E</td>
                        <td style="text-align: center;">$150</td>
                        <td style="text-align: center;">6</td>
                        <td style="text-align: center;">$900</td>
                    </tr>
    
                    <tr>
                        <td style="text-align: center;">D</td>
                        <td style="text-align: center;">$1,000</td>
                        <td style="text-align: center;">(Unlimited)</td>
                        <td style="text-align: center;">(Unlimited)</td>
                    </tr>
    
                    <tr>
                        <td style="text-align: center;">C</td>
                        <td style="text-align: center;">$3000</td>
                        <td style="text-align: center;">(Unlimited)</td>
                        <td style="text-align: center;">(Unlimited)</td>
                    </tr>
    
                    <tr>
                        <td style="text-align: center;">B</td>
                        <td style="text-align: center;">$6,000</td>
                        <td style="text-align: center;">(Unlimited)</td>
                        <td style="text-align: center;">(Unlimited)</td>
                    </tr>
    
                    <tr>
                        <td style="text-align: center;">A</td>
                        <td style="text-align: center;">$9,000</td>
                        <td style="text-align: center;">(Unlimited)</td>
                        <td style="text-align: center;">(Unlimited)</td>
                    </tr>
    
                    <tr>
                        <td style="text-align: center;">AA</td>
                        <td style="text-align: center;">$50,000</td>
                        <td style="text-align: center;">(Unlimited)</td>
                        <td style="text-align: center;">(Unlimited)</td>
                    </tr>
    
                    <tr>
                        <td style="text-align: center;">AAA</td>
                        <td style="text-align: center;">$100,000</td>
                        <td style="text-align: center;">(Unlimited)</td>
                        <td style="text-align: center;">(Unlimited)</td>
                    </tr>
    
                </tbody>
            </table>
        </div>
    </div>
    
</div>