{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        {% include 'messages.html' %}
        {% include 'a_sessiontimeout.html' %}
        <h2 class="ml-4 text-primary">STEPS TO BUILDING CRYPTO WEALTH</h2>
        <div class="container" style="padding: 0; z-index: -1000;">
            <ol class="list-group">
                <li class="list-group-item">1.- Create a Crypto Savings Wallet on this Screen Below</li>
                <li class="list-group-item">2.- <a href="{% url 'atm_functions:BuyCrypto' %}">Buy Crypto</a></li>
                <li class="list-group-item">3.- Deposit into Crypto Savings Wallet & <a href="{% url 'atm_functions:CreditGrades' %}">Credit Grade</a> Increases</li>
                <li class="list-group-item">4.- Create a Business Account, Buy & Sell Services</li>
                <li class="list-group-item">5.- Borrow & Lend Crypto</li>
                <li class="list-group-item">6.- Create a Crypto Will/Trust</li>
            </ol>
        </div>
        <br>
        <h3 class="ml-5">Welcome back, {{ name }}!</h3>
        <!-- <h5 class="ml-5">Information for account ending in {{ debit_last_four }}</h5> -->
        <h2 class="ml-4 text-secondary" style="font-size: 25px;">Crypto$hare Pay Wallet</h2>
        <table class="table">
            <caption style="caption-side: top; text-align: center;">These wallets are used to pay for everyday expenses because of transaction speed. XRP and Bitcoin Cash have the fastest transaction speeds. The Crypto in these wallets will not be counted in Credit Grade.</caption>
            <thead>
                <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Currency</th>
                <th scope="col">Balance</th>
                <th scope="col">CryptoShare Wallet Address</th>
            </tr>
            </thead>
            <tbody>
                {% for currency in payments_currencies %}
                    <tr>
                        <td>{{ currency.symbol }} </td>
                        <td>{{ currency.currency_name }} </td>
                        <td>{{ currency.balance }} </td>
                    {% if not currency.has_address %}
                        <td style="width: auto;"><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}">Create Pay Address</a></td>
                    {% else %}
                        <td>{{ currency.address }} </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="ml-4 text-secondary" style="font-size: 25px;">Crypto$hare Savings Wallet</h2>
        <table class="table">
            <caption style="caption-side: top; text-align: center;">The Cryptocurrency in your Savings Wallet will be used for your <a href="{% url 'atm_functions:CreditGrades' %}">Credit Grade</a></caption>
            <thead>
                <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Currency</th>
                <th scope="col">Balance</th>
                <th scope="col">CryptoShare Wallet Address</th>
            </tr>
            </thead>
            <tbody>
                {% for currency in savings_currencies %}
                    <tr>
                        <td>{{ currency.symbol }} </td>
                        <td>{{ currency.currency_name }} </td>
                        <td>{{ currency.balance }} </td>
                    {% if not currency.has_address %}
                        <td style="width: auto;"><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}">Create Savings Address</a></td>
                    {% else %}
                        <td>{{ currency.address }} </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    <!-- <div class="row">
        <div class="col-5 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">HAVE FUN USING CRYPTOSHARE!!!</h2>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Login to Account</button>
            </div>
        </div>
        <div class="col-xl-7 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">CREATED BY :</h2>
                
                <h5>Anade Davis - Data Science Manager </h5>
                <h5>Shailee R. Desai - (Project Lead) Data Analyst </h5>
                <h5>Alexander Rodriguez - (Project Lead) Data Analyst </h5>
                <h5>William Munson - Data Scientist</h5>
                <h5>Harleen Bagga - Data Scientist</h5>
            </div>
        </div>
    </div> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
{% include 'atm_footer.html' %}
</html>