{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<script type="text/javascript" src="{% static 'qrcodejs/qrcode.js' %}"></script>
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        {% include 'messages.html' %}
        {% include 'a_sessiontimeout.html' %}
        <h2 class="ml-4 text-primary">STEPS TO BUILDING CRYPTO WEALTH</h2>
        <div class="container col-12" style="padding: 0;">
            <ol class="list-group">
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb1" onclick="setCheckbox(1);">
                        Create a Crypto Savings Wallet on this Screen Below
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb2" onclick="setCheckbox(2);">
                        <a href="{% url 'atm_functions:BuyCrypto' %}">Buy Crypto</a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb3" onclick="setCheckbox(3);">
                        Deposit into Crypto Savings Wallet & <a href="{% url 'atm_functions:CreditGrades' %}">Credit Grade</a> Increases
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb4" onclick="setCheckbox(4);">
                        Create a Business Account, Buy, & Sell Services
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb5" onclick="setCheckbox(5);">
                        Borrow & Lend Crypto
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb6" onclick="setCheckbox(6);">
                        Create a Crypto Will
                    </div>
                </li>
            </ol>
        </div>
        <br>
        <h3 class="ml-5">Welcome back, {{ name }}!</h3>
        <!-- <h5 class="ml-5">Information for account ending in {{ debit_last_four }}</h5> -->
        <h2 class="ml-4 text-secondary" style="font-size: 25px;">Crypto$hare Pay Wallet</h2>
        <div class="container col-12" style="padding: 0;">
            <table class="table crypto ">
                <caption style="caption-side: top; text-align: center;">These wallets are used to pay for everyday expenses because of transaction speed. XRP and Dash have the fastest transaction speeds. The Crypto in these wallets will not be counted in Credit Grade.</caption>
                <thead>
                    <tr>
                        <th class="td_symbol" scope="col">Symbol</th>
                        <th class="td_currency" scope="col">Currency</th>
                        <th class="td-balance" scope="col">Balance</th>
                        <th class="td-address" scope="col">CryptoShare Wallet Address</th>
                        <th class="td-address" scope="col">QR Code</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currency in payments_currencies %}
                        <tr>
                            <td class="td_symbol">{{ currency.symbol }} </td>
                            <td class="td_currency">{{ currency.currency_name }} </td>
                            <td class="td-balance">{{ currency.balance }} </td>
                        {% if not currency.has_address %}
                            <td style="width: auto;"><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}">Create Pay Address</a></td>
                        {% else %}
                            <td class="td-address">{{ currency.address }} </td>
                            <td class="td-address">
                                <div id="qrcode_{{ currency.symbol }}" class="btn btn-info" onclick="makeCode('qrcode_{{ currency.symbol }}' ,'{{ currency.address }}');">Show QR Code</div>
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="ml-4 text-secondary" style="font-size: 25px;">Crypto$hare Savings Wallet</h2>
        <table class="table crypto">
            <caption style="caption-side: top; text-align: center;">The Cryptocurrency in your Savings Wallet will be used for your <a href="{% url 'atm_functions:CreditGrades' %}">Credit Grade</a></caption>
            <thead>
                <tr>
                    <th class="td_symbol" scope="col">Symbol</th>
                    <th class="td_currency" scope="col">Currency</th>
                    <th class="td-balance" scope="col">Balance</th>
                    <th class="td-address" scope="col">CryptoShare Wallet Address</th>
                    <th class="td-address" scope="col">QR Code</th>
                </tr>
            </thead>
            <tbody>
                <!-- BITCOIN -->
                <!-- BITCOIN -->
                <tr>
                    <td class="td_symbol">BTC </td>
                    <td class="td_currency">Bitcoin </td>
                    <td class="td-balance">{{ static_currencies.BTC.balance }} </td>
                {% if not static_currencies.BTC.has_address %}
                    <td class="td-address"><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ static_currencies.BTC.blockchain }}&network=mainnet&currency={{ static_currencies.BTC.currency_name }}">Create Savings Address</a></td>
                {% else %}
                    <td class="td-address">{{ static_currencies.BTC.address }} </td>
                    <td class="td-address">
                        <div id="qrcode_BTC" class="btn btn-info" onclick="makeCode('qrcode_BTC' ,'{{ static_currencies.BTC.address }}');">Show QR Code</div>
                    </td>
                {% endif %}
                </tr>
                <!-- BITCOIN -->
                <!-- BITCOIN -->

                <!-- ETHEREUM -->
                <!-- ETHEREUM -->
                <tr>
                    <td class="td_symbol">ETH </td>
                    <td class="td_currency">Ethereum </td>
                    <td class="td-balance">{{ static_currencies.ETH.balance }} </td>
                {% if not static_currencies.ETH.has_address %}
                    <td class="td-address"><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ static_currencies.ETH.blockchain }}&network=mainnet&currency={{ static_currencies.ETH.currency_name }}">Create Savings Address</a></td>
                {% else %}
                    <td class="td-address">{{ static_currencies.ETH.address }} </td>
                    <td class="td-address">
                        <div id="qrcode_ETH" class="btn btn-info" onclick="makeCode('qrcode_ETH' ,'{{ static_currencies.ETH.address }}');">Show QR Code</div>
                    </td>
                {% endif %}
                </tr>
                <!-- ETHEREUM -->
                <!-- ETHEREUM -->

                <tr>
                    <td colspan="4" style="text-align: center;">
                        (The ERC-20 Coins Below can be transferred to this Ethereum Wallet)
                    </td>
                </tr>

                {% for currency in erc20_tokens %}
                    <tr>
                        <td class="td_symbol">{{ currency.symbol }} </td>
                        <td class="td_currency">{{ currency.currency_name }} <span style="display: block;">(ERC-20)</span></td>
                        <td class="td-balance">{{ currency.balance }} </td>
                    {% if not currency.has_address %}
                        <td class="td-address" ><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}">Create Savings Address</a></td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        table.crypto{
            table-layout:fixed;
        }
        .td_symbol {
            width:100px;
        }
        .td_currency {
            text-align: center;
            width:120px;
        }
        .td-balance {
            text-align: center;
            width:150px;
        }
        .td-address{
            text-align: center;
            width:400px;
        }
    </style>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>

    <script>
        function setCheckbox(checkbox){
            if (localStorage.getItem('cb' + checkbox) == 1) {
                localStorage.setItem('cb' + checkbox, 0);
            }else{
                localStorage.setItem('cb' + checkbox, 1);
            }
        }

        window.onload = function() {
            // console.log(localStorage.hideAlert);
            if (!localStorage.hideAlert) {
                $('#DepositWarning').modal('toggle');
            }
            if ({{ request.user.is_authenticated|yesno:"true,false" }}){
                GetCreditGrade();
            }

            //if cb1 to cb7 are set to 1 in localstorage, set the checkbox to checked, do it with a for
            for (var i = 1; i < 7; i++) {
                if (localStorage.getItem('cb' + i) == 1) {
                    $('#cb' + i).prop('checked', true);
                }
            }
            
        }
    </script>

    <script type="text/javascript">
        
        
        function makeCode (elementId ,address) {		
            divButton = document.getElementById(elementId);
            divButton.innerHTML = "";
            divButton.onclick = "";
            var qrcode = new QRCode(document.getElementById(elementId), {
                width : 100,
                height : 100
            });
            qrcode.makeCode(address);
        }
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
</body>
{% include 'atm_footer.html' %}
</html>