{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        {% include 'messages.html' %}
        <h2 class="ml-4">Hi {{ name }}!</h2>
        <h2 class="ml-4">Connect your Coinbase Wallet</h2>

        <h5 style="text-align:center" class="ml-4 mt-4">Click to connect Coinbase wallet:</h5>
        <div style="text-align:center" class="ml-4 mt-4"  style="width:30%;min-width:400px;">
            <a href="https://www.coinbase.com/oauth/authorize?response_type=code&client_id=35fb284ac9af15803924d53bb3cbc1890f147c526439f60cbc76f156004701e3&redirect_uri=https%3A//www.cryptoshareapp.com/atm/ApproveWallet/&scope=wallet:accounts:read,wallet:user:email,wallet:transactions:send&meta[send_limit_amount]=1">
                <button style=text-align:center class="btn btn-outline-primary bg-primary text-light" type="submit"
                id="button-withdraw">Connect wallet</button>
            </a>
        </div>

    </div>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    <!-- <div class="hero" style="></div> -->
    
    
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>