{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% if iframe is None %}
    {% include 'atm_sidebar.html' %}
    {% endif %}
    <div class="content-container">
        <h2 class="ml-4 text-primary">Create Loan</h2>
        <br>
        {% include 'messages.html' %}
        {% if authConfirmation %}
        {% include 'a_sessiontimeout.html' %}
            {% if request.session.wallet_conn %}
            <h1> Coinbase Wallet integration currently in progress</h1>
            {% else %}
            <form action="/atm/CreateLendingOffer/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="address"><b>Payment Currency</b>   <em>(This is the Crypto Currency you will give)</em></label>
                    <select class="form-control" id="currency" aria-describedby="currency" name="currency" onmouseup="ActivateAmountField('currency_amount'); ; SetCurrencyCrypto('currency_amount', 'currency');">
                        <option disabled>Select one of your current balances for borrowing</option >
                        <option value="LTC Litecoin || Blockchain: litecoin || Network: mainnet">LTC Litecoin || Blockchain: litecoin</option>
                        <option value="BCH Bitcoin Cash || Blockchain: bitcoin-cash || Network: mainnet">BCH Bitcoin Cash || Blockchain: bitcoin-cash</option>
                        <option value="DASH Dash || Blockchain: dash || Network: mainnet">DASH Dash || Blockchain: dash</option>
                        <option value="ZEC Zcash || Blockchain: zcash || Network: mainnet">ZEC Zcash|| Blockchain: zcash</option>
                        <option value="XRP XRP || Blockchain: xrp || Network: mainnet">XRP XRP|| Blockchain: xrp</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="currency_amount"><b>Amount</b>  <em>(IN USD)</em></label>
                    <input type="number" class="form-control" id="currency_amount" aria-describedby="currency_amount" name="currency_amount"
                        placeholder="Enter the amount you want to lend || Min: 150 Max: 1000" max="1000" min="150" onchange="SetCollateral('currency_amount', 'currency', 'currency_collateral','currency_amount_collateral', true);" step=".0001" required readonly>
                </div>
                <div class="form-group">
                    <label for="currency_amount"><b>Amount</b>  <em>(IN CRYPTO)</em></label>
                    <input type="number" class="form-control" id="currency_crypto_amount" aria-describedby="currency_crypto_amount" name="currency_crypto_amount"
                        placeholder="This would be displayed once you enter your lending amount" step=".0001" required readonly>
                </div>
                <div class="form-group">
                    <label for="currency_collateral"><b>Collateral</b>     <em>(Choose any of our available crypto as Collateral for Loan)</em></label>
                    <select class="form-control" id="currency_collateral" aria-describedby="currency_collateral" name="currency_collateral" onchange="SetCollateral('currency_amount', 'currency', 'currency_collateral','currency_amount_collateral', false)" required>
                        <option value="NotSelected NotSelected">Select one of the supported currencies</option >
                        <option value="LTC Litecoin">LTC Litecoin || Blockchain: litecoin</option>
                        <option value="BCH Bitcoin Cash">BCH Bitcoin Cash || Blockchain: bitcoin-cash</option>
                        <option value="DASH Dash">DASH Dash || Blockchain: dash</option>
                        <option value="ZEC Zcash">ZEC Zcash|| Blockchain: zcash</option>
                        <option value="XRP XRP">XRP XRP|| Blockchain: xrp</option>   
                    </select>
                </div>
                <div class="form-group">
                    <label for="currency_amount"><b>Collateral Amount</b>      <em>(You will receive this collateral amount being the 120% of the lending amount)</em></label>
                    <input type="number" class="form-control" id="currency_amount_collateral" aria-describedby="currency_amount_collateral" name="currency_amount_collateral"
                        placeholder="This would be displayed once you enter your lending amount" step=".0001" readonly>
                </div>
                <div class="form-group">
                    <label for="interest_rate"><b>Interest Rate</b>    <em>(This is the amount of Total Interest you will receive if payment is not done by Due Date)</em></label>
                    <select class="form-control" id="interest_rate" aria-describedby="interest_rate" name="interest_rate">
                        <option disabled>Select one of the offered interests</option >
                        <option value="5"> 01 - 15 DAYS || 5% INTEREST</option>
                        <option value="10">16 - 30 DAYS || 10% INTEREST</option>
                        <option value="15">31 - 60 DAYS || 15% INTEREST</option>
                        <option value="20">61 - 90 DAYS || 20% INTEREST</option>
                    </select>
                </div>
                <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="confirm_transaction" name="confirm_transaction" required>
                        <label class="form-check-label" for="confirm_transaction">
                            You confirm that once you click this box, your transaction is <b><em>final</em></b> and you will not be able to change it.
                        </label>
                    </div>
                </div>
                <small id="addressRegisterHelp" class="form-text text-muted">We'll never share information with anyone else</small>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
            <div class="container-fluid" style="background-color: #bebebe81; padding: 1%;">
                <small id="addressRegisterHelp" class="form-text text-muted" style="color: white; text-align: center; padding: 5px; border-style: dotted none none none; border-width: 1px; ">*Must have 120% of Collateral Currency in Coinbase Wallet or CryptoShare Address to Submit</small>
            </div>
        {% else %}
        <h5 class="ml-5">You are not currently signed in. To sign in or make an account, <a href="{% url 'authentication:Home' %}">click or tap here.</a></h5>
        {% endif %}
    </div>
    <div class="content-container">
        <table class="table">
            <caption style="caption-side: top; text-align: center;">Conversion rates</caption>
            <thead>
              <tr>
                <th scope="col" style="text-align: center;">Symbol</th>
                <th scope="col" style="text-align: center;">Currency</th>
                <th scope="col" style="text-align: center;">Amount</th>
                <th scope="col" style="text-align: center;">-</th>
                <th scope="col" style="text-align: center;">USDC</th>
              </tr>
            </thead>
            <tbody>
                {% if exchange_rates %}
                {% for rate in exchange_rates %}
                    <tr>
                        <td style="text-align: center;">{{ rate.symbol }} </td>
                        <td style="text-align: center;">{{ rate.currency_name }} </td>
                        <td style="text-align: center;">1 </td>
                        <td style="text-align: center;"> </td>
                        <td id="{{ rate.symbol }}_exchangeRate" style="text-align: center;">{{ rate.exchange_rate }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">No offers available</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    
    <script type="text/javascript" src="{% static 'js/create_offers_4.js' %}"></script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    <!-- <div class="row">
        <div class="col-5 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">HAVE FUN USING CRYPTOSHARE!!!</h2>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Login to Account</button>
            </div>
        </div>
        <div class="col-xl-7 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">CREATED BY :</h2>
                
                <h5>Anade Davis - Data Science Manager </h5>
                <h5>Shailee R. Desai - (Project Lead) Data Analyst </h5>
                <h5>Alexander Rodriguez - (Project Lead) Data Analyst </h5>
                <h5>William Munson - Data Scientist</h5>
                <h5>Harleen Bagga - Data Scientist</h5>
            </div>
        </div>
    </div> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>