{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<script type="text/javascript" src="{% static 'qrcodejs/qrcode.js' %}"></script>
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        {% include 'messages.html' %}
        <h2 class="ml-4 text-primary">CryptoShare Wallet</h2>
        <br>
        <h2 class="text-muted" style="font-size: 15px; text-align: center;">Improve your Credit Grade by purchasing Cryptoshare Credit.<a href="{% url 'atm_functions:BuildCredit' %}"> (More info)</a></h3>
        <br>
        {% if request.session.country_code != "US" %}
        <h2 class="text-center text-secondary" style="font-size: 25px;">Crypto$hare Pay Wallet</h2>
        <h6 class="text-center text-secondary">These wallets are used to pay for everyday expenses because of transaction speed. XRP and Dash have the fastest transaction speeds. The Crypto in these wallets will not be counted in Credit Grade.</h6>

        <div class="container table-responsive" style="padding: 0;">
            <table class="table crypto ">
                <thead>
                    <tr>
                        <th class="td_symbol" scope="col">Symbol</th>
                        <th class="td_currency" scope="col">Currency</th>
                        <th class="td-balance" scope="col">Balance</th>
                        <th class="td-address" scope="col">CryptoShare Wallet Address</th>
                        <th class="td-address" scope="col">QR Code</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currency in payments_currencies %}
                        <tr>
                            <td class="td_symbol">{{ currency.symbol }} </td>
                            <td class="td_currency">{{ currency.currency_name }} </td>
                            <td class="td-balance">{{ currency.balance }} </td>
                        {% if not currency.has_address %}
                                <!-- <td><a class="btn btn-primary" href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}">Create Pay Address</a></td> -->
                            <td class="align-middle" style="text-align: center;">
                                <button class="btn btn-primary" type="button" onclick='location.href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}"'>
                                    Create Pay Address
                                </button>
                            </td>
                        {% else %}
                            <td class="td-address" ><input class="form-control" type="text" style="text-align: center;" value="{{ currency.address }}" readonly onclick="$('#ClipboardAddress').toast('show'); navigator.clipboard.writeText(this.value);"></td>
                            <td class="td-address">
                                <div id="qrcode_{{ currency.symbol }}" class="btn btn-info" onclick="makeCode('qrcode_{{ currency.symbol }}' ,'{{ currency.address }}');">Show QR Code</div>
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2 class="text-center text-secondary" style="font-size: 25px;">Crypto$hare Savings Wallet</h2>
        <h6 class="text-center text-secondary">The Cryptocurrency in your Savings Wallet will not be counted in <a href="{% url 'atm_functions:CreditGrades' %}">Credit Grade</a></h6>
        <div class="container table-responsive" style="padding: 0;">
            <table class="table crypto">
                <thead>
                    <tr>
                        <th class="td_symbol" scope="col">Symbol</th>
                        <th class="td_currency" scope="col">Currency</th>
                        <th class="td-balance" scope="col">Balance</th>
                        <th class="td-address" scope="col">CryptoShare Wallet Address</th>
                        <th class="td-address" scope="col">QR Code</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- BITCOIN -->
                    <!-- BITCOIN -->
                    <tr>
                        <td class="td_symbol">BTC </td>
                        <td class="td_currency">Bitcoin </td>
                        <td class="td-balance">{{ static_currencies.BTC.balance }} </td>
                    {% if not static_currencies.BTC.has_address %}
                        <td class="align-middle" style="text-align: center;">
                            <button class="btn btn-primary" type="button" onclick='location.href="/atm/GenerateAddress/?blockchain={{ static_currencies.BTC.blockchain }}&network=mainnet&currency={{ static_currencies.BTC.currency_name }}"'>
                                Create Savings Address
                            </button>
                        </td>
                    {% else %}
                        <td class="td-address"><input class="form-control" type="text" style="text-align: center;" value="{{ static_currencies.BTC.address }}" readonly onclick="$('#ClipboardAddress').toast('show'); navigator.clipboard.writeText(this.value);"></td>                        
                        <td class="td-address">
                            <div id="qrcode_BTC" class="btn btn-info" onclick="makeCode('qrcode_BTC' ,'{{ static_currencies.BTC.address }}');">Show QR Code</div>
                        </td>
                    {% endif %}
                    </tr>
                    <!-- BITCOIN -->
                    <!-- BITCOIN -->

                    <!-- ETHEREUM -->
                    <!-- ETHEREUM -->
                    <tr>
                        <td class="td_symbol">ETH </td>
                        <td class="td_currency">Ethereum </td>
                        <td class="td-balance">{{ static_currencies.ETH.balance }} </td>
                    {% if not static_currencies.ETH.has_address %}
                        <td class="align-middle" style="text-align: center;">
                            <button class="btn btn-primary" type="button" onclick='location.href="/atm/GenerateAddress/?blockchain={{ static_currencies.ETH.blockchain }}&network=mainnet&currency={{ static_currencies.ETH.currency_name }}"'>
                                Create Savings Address
                            </button>
                        </td>
                    {% else %}
                        <td class="td-address"><input class="form-control" type="text" style="text-align: center;" value="{{ static_currencies.ETH.address }}" readonly onclick="$('#ClipboardAddress').toast('show'); navigator.clipboard.writeText(this.value);"></td>
                        <td class="td-address">
                            <div id="qrcode_ETH" class="btn btn-info" onclick="makeCode('qrcode_ETH' ,'{{ static_currencies.ETH.address }}');">Show QR Code</div>
                        </td>
                    {% endif %}
                    </tr>
                    <!-- ETHEREUM -->
                    <!-- ETHEREUM -->

                    <tr>
                        <td colspan="5" style="text-align: center;">
                            (The ERC-20 Coins Below can be transferred to this Ethereum Wallet)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    {% if request.session.country_code != "US" %}
    <div class="container table-responsive">
        <table class="table crypto">
            <thead>
                <tr>
                    <th class="td_symbol" scope="col">Symbol</th>
                    <th class="td_currency" scope="col">Currency</th>
                    <th class="td-balance" scope="col">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for currency in erc20_tokens %}
                    <tr>
                        <td class="td_symbol">{{ currency.symbol }} </td>
                        <td class="td_currency">{{ currency.currency_name }} <span style="display: block;">(ERC-20)</span></td>
                        <td class="td-balance">{{ currency.balance }} </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    {% endif %}

    <style>
        table.crypto{
            table-layout:fixed;
        }
        .td_symbol {
            text-align: center;
            width:100px;
        }
        .td_currency {
            text-align: center;
            width:120px;
        }
        .td-balance {
            text-align: center;
            width:150px;
        }
        .td-address{
            text-align: center;
            width:400px;
        }
    </style>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>

    <script>
        window.onload = function() {
            // console.log(localStorage.hideAlert);
            if (!localStorage.hideAlert) {
                $('#DepositWarning').modal('toggle');
            }
            if ({{ request.user.is_authenticated|yesno:"true,false" }}){
                GetCreditGrade();
                GetNotifications();
            }
        }
    </script>
    <script type="text/javascript">
    
    
        function makeCode (elementId ,address) {		
            divButton = document.getElementById(elementId);
            divButton.innerHTML = "";
            divButton.onclick = "";
            var qrcode = new QRCode(document.getElementById(elementId), {
                width : 100,
                height : 100
            });
            qrcode.makeCode(address);
        }
    </script> 


</body>
{% include 'atm_footer.html' %}
</html>

<div class="position-fixed top-0 end-0" style="z-index: 10000">
    <div id="ClipboardAddress" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Copied to clipboard</strong>
            <small>Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            The selected address has been copied to your clipboard
        </div>
    </div>
</div>

<!-- Modal -->
<div id="DepositWarning" class="modal" style="z-index: 2000;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>DEPOSIT ACCEPTANCE FORM</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <br>
            <p style="color: black;font-weight: 400;">This is a Message from CryptoShare.</p>
            <br>
            <b><p style="color: black;font-weight: 400;">We require 1% of each deposit of our members or your wallet will be revoked in 6 days. We use this Crypto to Maintain the platform.</p></b>
            <div class="d-flex justify-content-center">
                <button style="text-align: center;" class="btn btn-danger" data-toggle="modal" id="Close" onclick="$('#DepositWarning').modal('hide');">Close</button> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button style="text-align: center;" class="btn btn-success" data-toggle="modal" id="NeverShowAgain" onclick="neverShowAgainModal()">Never show again</button> 
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="ERC-20" class="modal" style="z-index: 2000;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>Ethereum ERC-20 Supported Tokens</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p style="color: black;font-weight: 400;">For ERC-20 Token Transfers, please use the Ethereum deposit address</p>
            <br>
            <p style="color: black;font-weight: 400;">For the moment, we only support these ERC-20 Tokens</p>
            <ul>
                <li>USDC - USD Coin</li>
                <li>USDT - Tether</li>
                <li>WBTC - Wrapped Bitcoin</li>
            </ul>
            <br>
            <b><p style="color: black;font-weight: 400;">Any different ERC-20 Token transfer will result in permanent loss.</p></b>

        </div>
    </div>
    
</div>