{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        <h2 class="ml-4 text-primary">Credit Grade & Wealth</h2>
        <br>
        <h2 class="text-muted" style="font-size: 15px; text-align: center;">Improve your Credit Grade by depositing Crypto in your Cryptoshare Wallet using the Blockchain Credit System.<a href="{% url 'atm_functions:CreditGrades' %}"> (More info)</a></h3>
        <br>
        {% include 'messages.html' %}
        {% include 'a_sessiontimeout.html' %}
            {% if request.session.wallet_conn %}
            <h1> Coinbase Wallet usage is currently in progress, not available for the moment</h1>
            {% endif %}
            <h2 class="ml-4 text-secondary" style="font-size: 25px;">Crypto$hare Pay Wallet</h2>
            <table class="table">
                <caption style="caption-side: top; text-align: center;">These are Cryptos that are fast and are accepted by Businesses around the world for  Shopping, Paying Bills, and Entertainment.</caption>
                <thead>
                  <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Balance</th>
                    <th scope="col">CryptoShare Wallet Address</th>
                </tr>
                </thead>
                <tbody>
                    {% for currency in payments_currencies %}
                        <tr>
                            <td>{{ currency.symbol }} </td>
                            <td>{{ currency.currency_name }} </td>
                            <td>{{ currency.balance }} </td>
                        {% if not currency.has_address %}
                            <td style="width: auto;"><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}">Create Pay Address</a></td>
                        {% else %}
                            <td>{{ currency.address }} </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2 class="ml-4 text-secondary" style="font-size: 25px;">Crypto$hare Savings Wallet</h2>
            <table class="table">
                <caption style="caption-side: top; text-align: center;">These are Cryptos that are fast and are accepted by Businesses around the world for  Shopping, Paying Bills, and Entertainment.</caption>
                <thead>
                  <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Balance</th>
                    <th scope="col">CryptoShare Wallet Address</th>
                </tr>
                </thead>
                <tbody>
                    {% for currency in savings_currencies %}
                        <tr>
                            <td>{{ currency.symbol }} </td>
                            <td>{{ currency.currency_name }} </td>
                            <td>{{ currency.balance }} </td>
                        {% if not currency.has_address %}
                            <td style="width: auto;"><a class="btn btn-primary" style="max-width: 300px;" href="/atm/GenerateAddress/?blockchain={{ currency.blockchain }}&network=mainnet&currency={{ currency.currency_name }}">Create Savings Address</a></td>
                        {% else %}
                            <td>{{ currency.address }} </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ERC-20" style="margin-bottom: 20px;">ERC-20 Supported Tokens</button> -->
            
            <div class="container-fluid" style="background-color: #bebebe81; padding: 1%;">
                <small id="addressRegisterHelp" class="form-text text-muted" style="color: white; text-align: center; padding: 5px;">We do not support wrapped coins anchored from another blockchain, transferring these type Cryptos will result in permanently lost Crypto.</small>
                <small id="addressRegisterHelp" class="form-text text-muted" style="color: white; text-align: center; padding: 5px; border-style: dotted none none none; border-width: 1px; ">By Creating a CryptoShare Banq Wallet you accept the 1% Commission for your Banq Membership on all deposits made into your Wallet. All Commission goes to Research & Development of the Platform.</small>
            </div>
    </div>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>

    <script>
        window.onload = function() {
            // console.log(localStorage.hideAlert);
            if (!localStorage.hideAlert) {
                $('#DepositWarning').modal('toggle');
            }
            if ({{ request.user.is_authenticated|yesno:"true,false" }}){
                GetCreditGrade();
            }
        }
    </script>


</body>
{% include 'atm_footer.html' %}
</html>

<!-- Modal -->
<div id="DepositWarning" class="modal" style="z-index: 2000;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>DEPOSIT ACCEPTANCE FORM</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <br>
            <p style="color: black;font-weight: 400;">This is a Message from CryptoShare.</p>
            <br>
            <b><p style="color: black;font-weight: 400;">We require 1% of each deposit of our members or your wallet will be revoked in 6 days. We use this Crypto to Maintain the platform.</p></b>
            <div class="d-flex justify-content-center">
                <button style="text-align: center;" class="btn btn-danger" data-toggle="modal" id="Close" onclick="$('#DepositWarning').modal('hide');">Close</button> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button style="text-align: center;" class="btn btn-success" data-toggle="modal" id="NeverShowAgain" onclick="neverShowAgainModal()">Never show again</button> 
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="ERC-20" class="modal" style="z-index: 2000;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>Ethereum ERC-20 Supported Tokens</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p style="color: black;font-weight: 400;">For ERC-20 Token Transfers, please use the Ethereum deposit address</p>
            <br>
            <p style="color: black;font-weight: 400;">For the moment, we only support these ERC-20 Tokens</p>
            <ul>
                <li>USDC - USD Coin</li>
                <li>USDT - Tether</li>
                <li>WBTC - Wrapped Bitcoin</li>
            </ul>
            <br>
            <b><p style="color: black;font-weight: 400;">Any different ERC-20 Token transfer will result in permanent loss.</p></b>

        </div>
    </div>
    
</div>