{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body">
        </div>
    </div>
    {% include 'banner.html' %}
    <div class="container my-4">
        <div class="row" style="margin:0px;">
            <video src="{% static '/images/Cryptoshare_PAY.mp4' %}" id="cs_pay"
            style="margin-left:auto;margin-right:auto;zoom:85%;max-width: 100vw;" autoplay loop muted playsinline>
        </div>
        <script> $( window ).load(function() { $('#cs_pay').get(0).play();}); </script>
    </div>
    <div class="container my-4" style="padding-bottom: 200px;">
        <h4 style="text-align:center ;">Already have an Account? <a href="{% url 'authentication:Login' %}">Login here!</a></h4>
        <div class="row">
            <div class="card container1" style="max-width: 600px;">
                {% include 'messages.html' %}
                <form method="POST">
                    {% csrf_token %}
                    <h2 class="text-primary" style="text-align:center;">Create your CryptoShare Banq Membership</h2>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="email">Enter your email:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" required maxlength="50">
                            <p style="text-align: center; color:black;"><small>
                                Your email will be used to log in.
                            </small></p>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="fname">First name:</label>
                            <input type="text" class="form-control" name="fname" id="fname"
                            required maxlength="30">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lname">Last name:</label>
                            <input type="text" class="form-control" name="lname" id="lname"
                            required maxlength="30">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pin">Create 6 Digit PIN Code:</label>
                            <input type="password"  onpaste="return false;" onkeypress="return ((event.charCode <= 57 && event.charCode >= 48) || (event.charCode ==0 && event.charCode !=8))" class="form-control" name="pin" id="pin"
                            required pattern="[0-9]{6}" maxlength="6" minlength="6">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="conf_pin">Confirm 6 Digit PIN Code:</label>
                            <input type="password"  onpaste="return false;" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" class="form-control" name="conf_pin" id="conf_pin"
                            required pattern="[0-9]{6}" maxlength="6" minlength="6">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="country">Country:</label>
                            <!-- <input type="text" class="form-control" name="country" id="country"
                            required maxlength="56"> -->
                            <select type="text" class="form-control" name="country" id="country"
                            required>
                                <option disabled selected>Select country</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Aland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo, Democratic Republic of the Congo</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Cote D'Ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curacao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands (Malvinas)</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and Mcdonald Islands</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran, Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea, Democratic People's Republic of</option>
                                <option value="KR">Korea, Republic of</option>
                                <option value="XK">Kosovo</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libyan Arab Jamahiriya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MK">Macedonia, the Former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia, Federated States of</option>
                                <option value="MD">Moldova, Republic of</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territory, Occupied</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthelemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="CS">Serbia and Montenegro</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SX">Sint Maarten</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan, Province of China</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania, United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands, British</option>
                                <option value="VI">Virgin Islands, U.s.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthdate">Birthdate:</label>
                            <input onclick="dateController();" type="date" class="form-control" name="birthdate" id="birthdate" max=""
                            required>
                        </div>
                        <div id="toggle-pin">
                            <input type="checkbox" onclick="togglePINVis()"> Show PIN
                        </div>
                        <div class="form-row col-12">
                            <div id='pin_match'></div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="confirm_terms" name="confirm_terms" required>
                            <label class="form-check-label" for="confirm_terms">
                                <em>I accept the 1% Commission for my Banq Membership on all deposits</em>
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <!-- Referral Code Feature not added yet!--> 
                        <div class="form-group col-12">
                            <label for="conf_phone">Enter Referral code:</label>
                            <input type="text" class="form-control" name="ref_code" id="ref_code"
                            placeholder="Referral code (Coming Soon!)" disabled
                            pattern="^\d{3}-\d{3}$">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit" disabled>Submit</button>
                </form>
                <br>
                <a href="{% url 'authentication:Home' %}"><button type="submit"
                    class="btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </div>
    
    <!-- STARTING GENIUS REFERRALS TRACKING CODE -->
    <script type="text/javascript">
        !function (){
            const submit = function (e){
                const grFirstName=document.getElementsByName("fname")[0].value,
                grLastName=document.getElementsByName("lname")[0].value,
                grEmail=document.getElementsByName("email")[0].value,
                grMetadata='['+']';
                if (grEmail != '') {
                    e.preventDefault();
                    const grSetting={
                        "grTemplateSlug": "advocate-portal-280",
                        "grCustomerFirstname": grFirstName,
                        "grCustomerLastname": grLastName,
                        "grCustomerEmail": grEmail,
                        "grMetadata": grMetadata,
                        "grCustomerCurrencyCode": "USD", /** your customers currency code **/
                        "grCanRefer": "false",
                        "grReference" : "1643387502" /** could be the order id, timestamp, etc. **/
                    }
                    const button = this;
                    GRToolbox.processCustomerAndBonus(grSetting).then(function(){
                        button.onclick=function(){};button.click();});}};
                        const grSettingCookie={
                            "grCookieLifeTime": "180",
                        },
                        e=window,t=document;e.addEventListener("load",function(){const e=t.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://e9f87d8c82343264e6ba-2977c39e5e9390b1a89ab5ed2a171102.ssl.cf1.rackcdn.com/toolbox/geniusreferrals-toolbox_3.3.1.min.js",e.onload=function(){GRToolbox.catchReferrer(grSettingCookie);t.getElementById("submit").onclick = submit;};const n=t.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)},!1)}();
                    </script>
                    <!-- ENDING GENIUS REFERRALS TRACKING CODE -->
                    
                    <script type="text/javascript">
                        // toggle PIN visibility
                        function togglePINVis() {
                            var button = document.getElementById("pin");
                            var button2 = document.getElementById("conf_pin");
                            if (button.type == 'password') {
                                button.type = 'text';
                                button2.type = 'text';
                            } else {
                                button.type = 'password';
                                button2.type = 'password';
                            }
                        }
                        // set PIN matching text
                        $('#pin, #conf_pin').on('keyup', function () {
                            if (($('#pin').val().length == 0) || ($('#conf_pin').val().length==0)) {
                                $('#pin_match').html('');
                            }
                            else if ($('#pin').val() == $('#conf_pin').val())
                            {
                                if (($('#pin').val().length == 6) & ($('#conf_pin').val().length==6)) {
                                    $('#pin_match').html('PINs match!').css('color', 'green');
                                    $('#submit').prop('disabled', false);
                                }
                                else {
                                    $('#pin_match').html('PIN must be 6 digits.').css('color', 'red');
                                    $('#submit').prop('disabled', true);
                                }
                            }
                            else {
                                $('#pin_match').html('PINs do not match.').css('color', 'red');
                                $('#submit').prop('disabled', true);
                            }
                        });
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                autoDisplay: false
                            }, 'google_translate_element'); //remove the layout
                        }
                    </script>
                    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
                    </script>
                    <script type="text/javascript">
                        function triggerHtmlEvent(element, eventName) {
                            var event;
                            if (document.createEvent) {
                                event = document.createEvent('HTMLEvents');
                                event.initEvent(eventName, true, true);
                                element.dispatchEvent(event);
                            } else {
                                event = document.createEventObject();
                                event.eventType = eventName;
                                element.fireEvent('on' + event.eventType, event);
                            }
                        }
                        
                        $('.translation-links a').click(function (e) {
                            e.preventDefault();
                            var lang = $(this).data('lang');
                            $('#google_translate_element select option').each(function () {
                                if ($(this).text().indexOf(lang) > -1) {
                                    $(this).parent().val($(this).val());
                                    var container = document.getElementById('google_translate_element');
                                    var select = container.getElementsByTagName('select')[0];
                                    triggerHtmlEvent(select, 'change');
                                }
                            });
                        });
                    </script>
                    <script>
                        function dateController() {
                            dateInput = document.getElementById("birthdate");

                            DIFFERENCE = 568036800000;
                            currentDate = new Date();
                            majorDate = currentDate - DIFFERENCE;
                            
                            maxDate = new Date(majorDate);

                            dateInput.max = maxDate.toISOString().split("T")[0];
                        }
                    </script>
                    {% include 'footer.html' %}
                </body>
                </html>
                