{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body">
        </div>
    </div>
    {% include 'banner.html' %}
    <div class="container my-4">
        <div class="row" style="margin:0px;">
            <video src="{% static '/images/Cryptoshare_PAY.mp4' %}" id="cs_pay"
            style="margin-left:auto;margin-right:auto;zoom:85%;max-width: 100vw;" autoplay loop muted playsinline>
        </div>
        <script> $( window ).load(function() { $('#cs_pay').get(0).play();}); </script>
    </div>
    <div class="container my-4">
        <h4 style="text-align:center ;">Already have an Account? <a href="{% url 'authentication:Login' %}">Login here!</a></h4> 
        <div class="row">
            <div class="card container1" style="max-width: 500px;">
                {% include 'messages.html' %}
                <form method="POST">
                    {% csrf_token %}
                    <h2 class="text-primary" style="text-align:center;">Create your Crypto$hare Account</h2>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="email">Enter your email:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" required maxlength="50">
                            <p style="text-align: center; color:black;"><small>
                                Your email will be used to log in.
                            </small></p>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="fname">First name:</label>
                            <input type="text" class="form-control" name="fname" id="fname"
                            required maxlength="30">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lname">Last name:</label>
                            <input type="text" class="form-control" name="lname" id="lname"
                            required maxlength="30">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pin">Create a 6 digit PIN:</label>
                            <input type="password" class="form-control" name="pin" id="pin"
                            required pattern="[0-9]{6}" maxlength="6" minlength="6">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="conf_pin">Confirm PIN:</label>
                            <input type="password" class="form-control" name="conf_pin" id="conf_pin"
                            required pattern="[0-9]{6}" maxlength="6" minlength="6">
                            <div class="form-row" style="margin-top: 4px;">
                                <div id='phone_match'></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <!-- Referral Code Feature not added yet!--> 
                        <div class="form-group col-12">
                            <label for="conf_phone">Enter Referral code:</label>
                            <input type="text" class="form-control" name="ref_code" id="ref_code"
                            placeholder="Referral code (Coming Soon!)" disabled
                            pattern="^\d{3}-\d{3}$">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit" disabled>Submit</button>
                </form>
                <br>
                <a href="{% url 'authentication:Home' %}"><button type="submit"
                    class="btn btn-primary">Back</button>
                </a>
            </div>
        </div>
    </div>
    {% include 'info_card.html' %}
    <!--</div>-->
    <!-- <div class="col-md-6"> -->
        {# {% include 'animations/animations-2.html' %} #}
        <!-- </div> -->
        <!--</div>-->
        <script type="text/javascript">
            // set PIN matching text
            $('#pin, #conf_pin').on('keyup', function () {
                if (($('#pin').val().length == 0) || ($('#conf_pin').val().length==0)) {
                    $('#pin_match').html('');
                }
                else if ($('#pin').val() == $('#conf_pin').val())
                {
                    if (($('#pin').val().length == 6) & ($('#conf_pin').val().length==6)) {
                        $('#phone_match').html('PINs match!').css('color', 'green');
                        $('#submit').prop('disabled', false);
                    }
                    else {
                        $('#phone_match').html('PIN must be 6 digits.').css('color', 'red');
                        $('#submit').prop('disabled', true);
                    }
                }
                else {
                    $('#phone_match').html('PINs do not match.').css('color', 'red');
                    $('#submit').prop('disabled', true);
                }
            });
            /// set phone number matching text
            // $('#phone, #conf_phone').on('keyup', function () {
                //     if (($('#phone').val().length == 0) || ($('#conf_phone').val().length==0)) {
                    //         $('#phone_match').html('');
                    //     }
                    //     else if ($('#phone').val() == $('#conf_phone').val())
                    //     {
                        //         $('#phone_match').html('Phone numbers match').css('color', 'green');
                        //         $('#submit').prop('disabled', false);
                        //     }
                        //     else {
                            //         $('#phone_match').html('Phone numbers do not match').css('color', 'red');
                            //         $('#submit').prop('disabled', true);
                            //     }
                            // });
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({
                                    pageLanguage: 'en',
                                    autoDisplay: false
                                }, 'google_translate_element'); //remove the layout
                            }
                        </script>
                        <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
                        </script>
                        
                        
                        
                        
                        <script type="text/javascript">
                            function triggerHtmlEvent(element, eventName) {
                                var event;
                                if (document.createEvent) {
                                    event = document.createEvent('HTMLEvents');
                                    event.initEvent(eventName, true, true);
                                    element.dispatchEvent(event);
                                } else {
                                    event = document.createEventObject();
                                    event.eventType = eventName;
                                    element.fireEvent('on' + event.eventType, event);
                                }
                            }
                            
                            $('.translation-links a').click(function (e) {
                                e.preventDefault();
                                var lang = $(this).data('lang');
                                $('#google_translate_element select option').each(function () {
                                    if ($(this).text().indexOf(lang) > -1) {
                                        $(this).parent().val($(this).val());
                                        var container = document.getElementById('google_translate_element');
                                        var select = container.getElementsByTagName('select')[0];
                                        triggerHtmlEvent(select, 'change');
                                    }
                                });
                            });
                        </script>
                        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
                        <script src="{% static 'js/popper.min.js' %}"></script>
                        <script src="{% static 'js/bootstrap.min.js' %}"></script>
                        <script src="{% static 'js/jquery.sticky.js' %}"></script>
                        <script src="{% static 'js/main.js' %}"></script>
                        {% include 'footer.html' %}
                    </body>
                    </html>
                    