{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}

<body>
    {% include 'atm_sidebar.html' %}
    {% if auth_level > 0 %}
    {% include 'a_sessiontimeout.html' %}
    {% endif %}
    <div class="content-container">
        {% include 'messages.html' %}
        <h2 class="ml-4">Net Worth</h2>
        <div class="text-center" style="margin-top: 5%;">
            <img src="{% static '/images/logo.png' %}" class="rounded-circle border-primary"
                style="height: 200px; width: auto;"" alt=" ...">
        </div>

        <div class="text-center" style="margin-top: 5%;">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="card text-bg-primary">
                        <div class="card-header">
                            <h3>
                                Your Estimated Net Worth
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Please enter a new username" value="{{ net_worth|default:0 }}"
                                    style="text-align: center;" readonly required>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="{% url 'atm_functions:EditEstateNetWorth' %}">
                                <button type="button" class="btn btn-info">Edit your Estate Net Worth</button>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>


    </div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>


    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }

        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
</body>

</html>