{% load static %}
{% static "images" as baseUrl %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/46e0ba174a.js" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{%  static 'favicon/favicon.ico' %}">
    
    <title>CryptoshareCredit</title>
    <meta name="Title" content="CryptoshareCredit">
    <meta name="Author" content="Cryptoshare">
    <meta name="Description" content="We are a Peer to Peer Decentralized Credit System that runs on Blockchain. Cryptoshare Credit  allows people to Borrow and Lend based on Accumulated Cryptoshare Credits (not race, gender, salary, and other factors that have been traditionally used to exclude Billions of people in the world from participating in the worldwide financial system).">
    <meta name="Keywords" content="cryptoshare, cryptosharepay, crypto, paymentgateway" />
    
    <!-- Appzi Feedback Widget -->
    {% if iframe is None %} 
    <script async src="https://w.appzi.io/w.js?token=KU5ik"></script>
    {% endif %}
</head>