{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'banner.html' %}
    {% if name is not None %}
    {% include 'a_sessiontimeout.html' %}
    {% endif %}
    <div class="container my-4">
        {% include 'messages.html' %}
        <div class="row">
            <div class="container1 card">
                <h2 class="text-primary">
                    Select Language
                </h2>
                <div class="row d-flex justify-content-center text-center">
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="lang-container">
                                <label>
                                    <a href="#googtrans(en|en)" class="lang-en lang-select" data-lang="en">
                                        <button type="button" class="btn btn-secondary btn-large btn-block">
                                            ENGLISH
                                        </button>
                                    </a>
                                </label>
                                
                                <label>
                                    <a href="?/#googtrans(en|es)" class="lang-en lang-select" data-lang="en">
                                        <button type="button" class="btn btn-secondary btn-large btn-block">
                                            ESPANOL
                                        </button>
                                    </a>
                                </label>
                                
                                <label>
                                    <a href="#googtrans(en|pt)" class="lang-en lang-select" data-lang="en">
                                        <button type="button" class="btn btn-secondary btn-large btn-block">
                                            PORTUGUES
                                        </button>
                                    </a>
                                </label>
                                <br>
                            </div>
                            <button type="submit" class="btn-sm btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="container my-4" style="padding:0px;">
        <div class="row" style="margin:0px;">
            <video src="{% static '/images/how_cs_works.mp4' %}" id="demo"
            style="margin-left:auto;margin-right:auto;zoom:85%;max-width: 100vw;" autoplay loop muted playsinline>
        </div>
        <script> $( window ).load(function() { $('#demo' ).get(0).play();}); </script>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="card container1">
                {% if name is None %}
                <h2 class="text-primary title">Welcome!</h2>
                {% else %}
                <h2 class="text-primary title">Welcome,  {{ name }}!</h2>
                {% endif %}
                <p class="signed_in">Make a selection:</p>
                {% if name is None %}
                <a href="{% url 'authentication:Email' %}"><button type="button"
                    class="btn btn-primary btn-lg btn-block">Create Account</button>
                    <!--<p style="font-size:12px;">Connect your Cryptocurrency wallet and use Crypto you already own as collateral to borrow or lend to other people.</p> -->
                </a>
                <br>
                {% elif auth_level == 1 %}
                <!-- <a href="{% url 'authentication:Registration' %}"><button type="button"
                    class="btn btn-primary btn-lg btn-block">Create Digital Card Wallet</button>
                </a> -->
                {% elif auth_level == 2 %}
                <a href="{% url 'authentication:CardProducts' %}"><button type="button"
                    class="btn btn-primary btn-lg btn-block">Apply for Digital Debit Card</button>
                </a>
                {% elif auth_level == 3 %}
                <a href="{% url 'authentication:CardInfo' %}"><button type="button"
                    class="btn btn-primary btn-lg btn-block">View Debit Card Info</button>
                </a>
                {% endif %}
                {% if name is not None %}
                <a href="{% url 'atm_functions:CheckBalance' %}"><button type="button"
                    class="btn btn-primary btn-lg btn-block">My Account</button>
                </a>
                <br>
                {% endif %}
                <a href="https://wefunder.com/cryptoshare" target="_blank">
                    <button type="button" class="btn btn-invest btn-secondary btn-lg btn-block" style="background-color:green;">
                        Buy Future Stock
                        <!--<p style="font-size:12px;">You have a once and a lifetime opportunity to Invest in Future Equity in Cryptoshare that one day can be listed on Stock Exchange.</p> --> 
                    </button>
                </a>
                <br>
                {% if name is None %}
                <a href="{% url 'authentication:Login' %}"><button type="button"
                    class="btn btn-secondary btn-lg btn-block">Login To Existing Account</button>
                </a>
                <br>
                {% endif %}
                <a href="{% url 'authentication:GiveBack' %}"><button type="button"
                    class="btn btn-primary btn-lg btn-block">Give Crypto</button>
                </a>
                {% if name is not None %}
                <br>
                <form action="{% url 'authentication:Logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% include 'widget_usercount.html' %}
    {% include 'info_card.html' %}
    
    <!-- Code provided by Google -->
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element');
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% include 'footer.html' %}
</body>
</html>
