{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}

    {% if authConfirmation %}
    {% include 'a_sessiontimeout.html' %}
    <div class="content-container">
        {% include 'messages.html' %}
        <h2 class="ml-4">Lend your Credit Grade</h2>
        <div style="text-align:center" class="ml-4 mt-4"  style="width:30%;min-width:400px;">
            <br>
            {% if iframe is None %}
            <a href="/atm/CreateLendingOffer/">
            {% else %}
            <a href="/atm/CreateLendingOffer/?iframe=1">
            {% endif %}
                <button style=text-align:center class="btn btn-outline-primary bg-primary text-light" type="submit"
                id="button-withdraw">CREATE LOAN</button>
            </a>
        </div>

        <table class="table">
            <caption style="caption-side: top; text-align: center;">Current Credit Lines for Sale</caption>
            <thead>
              <tr>
                <th scope="col">Currency</th>
                <th scope="col">Symbol</th>
                <th scope="col">Amount</th>
                <th scope="col">Collateral Currency</th>
                <th scope="col">Collateral Symbol</th>
                <th scope="col">Collateral Amount</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                {% if borrow_offers %}
                {% for offer in borrow_offers %}
                    <tr>
                        <td>{{ offer.currency_name.currency_name }} </td>
                        <td>{{ offer.currency_name.symbol }} </td>
                        <td>{{ offer.amount|floatformat:"3" }} </td>
                        <td>{{ offer.currency_name_collateral.currency_name }} </td>
                        <td>{{ offer.currency_name_collateral.symbol }} </td>
                        <td>{{ offer.amount_collateral|floatformat:"3" }} </td>
                        <td>
                            <a href="/atm/LendOffer/?id={{ offer.id_b }}">
                                <button style=text-align:center class="btn btn-outline-primary bg-primary text-light" type="submit"
                                id="button-withdraw">Details</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">No offers available</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="container-fluid" style="background-color: #bebebe81; padding: 1%;">
            <small id="addressRegisterHelp" class="form-text text-muted" style="color: white; text-align: center; padding: 5px; border-style: dotted none none none; border-width: 1px; "><b>*All Funds will be sent and Received using Low Gas Fee Currencies (Zcash, XRP, Dash, Bitcoin Cash, Litecoin)</b></small>
        </div>

    </div>

    {% endif %}

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>