{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        <h2 class="ml-4 text-primary">Lend Offer Details</h2>
        <br>
        {% include 'messages.html' %}
        {% if authConfirmation %}
        {% include 'a_sessiontimeout.html' %}
        <!-- <h5 class="ml-5">Information for account ending in {{ debit_last_four }}</h5> -->
            {% if request.session.wallet_conn %}
            <h1> Coinbase Wallet integration currently in progress</h1>
            {% else %}
            <form action="/atm/BorrowOffer/?id={{ offer.id_b }}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="transactionID">Offer ID</label>
                    <input type="text" class="form-control" id="transactionID" aria-describedby="transactionID" name="transactionID"
                    value ="{{ offer.id_b }}" readonly>
                </div>
                <!-- <div class="form-group">
                    <label for="currency_lendingSymbol">Lending Currency Symbol</label>
                    <input type="text" class="form-control" id="currency_lendingSymbol" aria-describedby="currency_lendingSymbol" name="currency_lendingSymbol"
                    value ="{{ offer.currency_name.symbol }}" readonly>
                </div> -->
                <div class="form-group">
                    <label for="currency_lending">Lending Currency</label>
                    <input type="text" class="form-control" id="currency_lending" aria-describedby="currency_lending" name="currency_lending"
                    value ="{{ offer.currency_name.symbol }} {{ offer.currency_name.currency_name }}" readonly>
                </div>
                <div class="form-group">
                    <label for="currency_amount">Lending Amount</label>
                    <input type="number" class="form-control" id="currency_amount" aria-describedby="currency_amount" name="currency_amount"
                    value = "{{ offer.amount|floatformat:'3' }}" readonly>
                </div>
                <!-- <div class="form-group">
                    <label for="currency_collateralSymbol">Collateral Currency Symbol</label>
                    <input type="text" class="form-control" id="currency_collateralSymbol" aria-describedby="currency_collateralSymbol" name="currency_collateralSymbol"
                    value ="{{ offer.currency_name_collateral.symbol }}" readonly>
                </div> -->
                <div class="form-group">
                    <label for="currency_collateral">Collateral Currency</label>
                    <input type="text" class="form-control" id="currency_collateral" aria-describedby="currency_collateral" name="currency_collateral"
                    value ="{{ offer.currency_name_collateral.symbol }} | {{ offer.currency_name_collateral.currency_name }}" readonly>
                </div>
                <div class="form-group">
                    <label for="currency_amount">Collateral Amount</label>
                    <input type="number" class="form-control" id="currency_amount_collateral" aria-describedby="currency_amount_collateral" name="currency_amount_collateral"
                    value = "{{ offer.amount_collateral|floatformat:'4' }}"     readonly>
                </div>
                <div class="form-group">
                    <label for="interest_rate">Interest Rate</label>
                    <input type="text" class="form-control" id="interest_rate" aria-describedby="interest_rate" name="interest_rate"
                    value = "{{ offer.interest_rate }} %"     readonly>
                </div>
                <div class="form-group">
                    <label for="days_to_pay">Days To Pay</label>
                    <input type="text" class="form-control" id="days_to_pay" aria-describedby="days_to_pay" name="days_to_pay"
                    value = "{{ offer.days_to_pay }}"     readonly>
                </div>
                <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="confirm_transaction" name="confirm_transaction" required>
                        <label class="form-check-label" for="confirm_transaction">
                            You confirm that once you click this box, your transaction is <b><em>final</em></b>, funds will be taken from your account and you will not be able to change it.
                        </label>
                    </div>
                </div>
                <small id="addressRegisterHelp" class="form-text text-muted">We'll never share information with anyone else</small>
                <button type="submit" class="btn btn-primary">Accept Borrower Loan</button>
            </form>
            {% endif %}
            <div class="container-fluid" style="background-color: #bebebe81; padding: 1%;">
                <small id="addressRegisterHelp" class="form-text text-muted" style="color: white; text-align: center; padding: 5px; border-style: dotted none none none; border-width: 1px; ">*All Funds will be Sent and Received in USDC</small>
            </div>
        {% else %}
        <h5 class="ml-5">You are not currently signed in. To sign in or make an account, <a href="{% url 'authentication:Home' %}">click or tap here.</a></h5>
        {% endif %}
    </div>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    <!-- <div class="row">
        <div class="col-5 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">HAVE FUN USING CRYPTOSHARE!!!</h2>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Login to Account</button>
            </div>
        </div>
        <div class="col-xl-7 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">CREATED BY :</h2>
                
                <h5>Anade Davis - Data Science Manager </h5>
                <h5>Shailee R. Desai - (Project Lead) Data Analyst </h5>
                <h5>Alexander Rodriguez - (Project Lead) Data Analyst </h5>
                <h5>William Munson - Data Scientist</h5>
                <h5>Harleen Bagga - Data Scientist</h5>
            </div>
        </div>
    </div> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>