{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container">
        <h2 class="ml-4 text-primary">Your Loans</h2>
        <br>
        {% include 'messages.html' %}
        {% if authConfirmation %}
        {% include 'a_sessiontimeout.html' %}
        <!-- <h5 class="ml-5">Information for account ending in {{ debit_last_four }}</h5> -->
        <h2 class="ml-4 text-primary">OPEN LOAN OFFERS</h2>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" style="text-align: center;">ID</th>
                <th scope="col" style="text-align: center;">Type</th>
                <th scope="col" style="text-align: center;">Symbol</th>
                <th scope="col" style="text-align: center;">Currency</th>
                <th scope="col" style="text-align: center;">Amount</th>
                <th scope="col" style="text-align: center;">-</th>
                <th scope="col" style="text-align: center;">Collateral Symbol</th>
                <th scope="col" style="text-align: center;">Collateral Currency</th>
                <th scope="col" style="text-align: center;">Collateral Amount</th>
                <th scope="col" style="text-align: center;">Interest Rate</th>
                <th scope="col" style="text-align: center;">Days To Pay</th>
                <th scope="col" style="text-align: center;">State</th>
                <th scope="col" style="text-align: center;">Creation Date</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for offer in opened_offers %}
                    <tr id="transaction_b_{{ offer.id_b }}">
                        <th scope="row">{{ offer.id_b }} </th>
                        <td style="text-align: center;">{{ offer.transaction_type }} </td>
                        <td style="text-align: center;">{{ offer.currency_name.symbol }} </td>
                        <td style="text-align: center;">{{ offer.currency_name.currency_name }} </td>
                        <td style="text-align: center;">{{ offer.amount }} </td>
                        <td> </td>
                        <td style="text-align: center;">{{ offer.currency_name_collateral.symbol }} </td>
                        <td style="text-align: center;">{{ offer.currency_name_collateral.currency_name }} </td>
                        <td style="text-align: center;">{{ offer.amount_collateral }} </td>
                        <td style="text-align: center;">{{ offer.interest_rate }}% </td>
                        <td style="text-align: center;">{{ offer.days_to_pay }} </td>
                        <td style="text-align: center;">{{ offer.state }} </td>
                        <td style="text-align: center;">{{ offer.creation_datetime }} </td>
                        <td style="text-align: center;">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#RemoveModal" onclick="RemoveOfferModal('{{ offer.id_b }}', '{{ offer.transaction_type }}', '{{ offer.amount }}')">Remove</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="ml-4 text-primary">ACCEPTED LOAN OFFERS</h2>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" style="text-align: center;">ID</th>
                <th scope="col" style="text-align: center;">Type</th>
                <th scope="col" style="text-align: center;">Symbol</th>
                <th scope="col" style="text-align: center;">Currency</th>
                <th scope="col" style="text-align: center;">Amount</th>
                <th scope="col" style="text-align: center;">-</th>
                <th scope="col" style="text-align: center;">Collateral Symbol</th>
                <th scope="col" style="text-align: center;">Collateral Currency</th>
                <th scope="col" style="text-align: center;">Collateral Amount</th>
                <th scope="col" style="text-align: center;">Interest Rate</th>
                <th scope="col" style="text-align: center;">Days To Pay</th>
                <th scope="col" style="text-align: center;">State</th>
                <th scope="col" style="text-align: center;">Creation Date</th>
                <th scope="col" style="text-align: center;">Start Date</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for offer in accepted_offers %}
                    <tr id="transaction_b_{{ offer.id_b }}">
                        <th scope="row">{{ offer.id_b }} </th>
                        <td style="text-align: center;">{{ offer.transaction_type }} </td>
                        <td style="text-align: center;">{{ offer.currency_name.symbol }} </td>
                        <td style="text-align: center;">{{ offer.currency_name.currency_name }} </td>
                        <td style="text-align: center;">{{ offer.amount }} </td>
                        <td> </td>
                        <td style="text-align: center;">{{ offer.currency_name_collateral.symbol }} </td>
                        <td style="text-align: center;">{{ offer.currency_name_collateral.currency_name }} </td>
                        <td style="text-align: center;">{{ offer.amount_collateral }} </td>
                        <td style="text-align: center;">{{ offer.interest_rate }}% </td>
                        <td style="text-align: center;">{{ offer.days_to_pay }} </td>
                        <td style="text-align: center;">{{ offer.state }} </td>
                        <td style="text-align: center;">{{ offer.creation_datetime }} </td>
                        <td style="text-align: center;">{{ offer.start_datetime }} </td>
                        {% if offer.transaction_type == "BORROW" %}
                        <td style="text-align: center;">
                            <button class="btn btn-success" data-toggle="modal" data-target="#PayModal" onclick="PayLoanModal('{{ offer.id_b }}', '{{ offer.transaction_type }}', '{{ offer.amount }}')">Pay Loan</button>
                        </td>
                        {% else %}
                        <td style="text-align: center;">None </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="content-container">
        <h2 class="ml-4 text-primary">Your Transactions</h2>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Symbol</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                <th scope="col">State</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <th scope="row">{{ transaction.id_a }} </th>
                        <td>{{ transaction.transaction_type }} </td>
                        <td>{{ transaction.currency_name.symbol }} </td>
                        <td>{{ transaction.currency_name.currency_name }} </td>
                        <td>{{ transaction.amount }} </td>
                        <td>{{ transaction.state }} </td>
                        <td>{{ transaction.creation_datetime }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h5 class="ml-5">You are not currently signed in. To sign in or make an account, <a href="{% url 'authentication:Home' %}">click or tap here.</a></h5>
        {% endif %}
    </div>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != "") {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
        }

        function RemoveOfferModal(offerID, offerType, offerAmount){
            document.getElementById("cancel_id").innerHTML = "ID : "+ offerID;
            document.getElementById("cancel_type").innerHTML = "Type : "+ offerType;
            document.getElementById("cancel_amount").innerHTML = "Amount : "+ offerAmount;
            document.getElementById("delete_offer").id = offerID;
        }

        function PayLoanModal(offerID, offerType, offerAmount){
            document.getElementById("pay_id").innerHTML = "ID : "+ offerID;
            document.getElementById("pay_type").innerHTML = "Type : "+ offerType;
            document.getElementById("pay_amount").innerHTML = "Amount : "+ offerAmount;
            document.getElementById("pay_loan").id = offerID;
        }

        function RemoveOffer(offerID){
            var url = "{% url 'atm_functions:RemoveOffer' %}";
            var data = {
                offerID: offerID,
                csrfmiddlewaretoken: getCookie('csrftoken')
            };
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function(response){
                    document.getElementById(offerID).id = "delete_offer";
                    $("#transaction_b_"+offerID).remove();
                    $("#RemoveModal").modal('hide');
                    $("#RemoveModal").modal('hide');
                },
                error: function(response){
                    document.getElementById(offerID).id = "delete_offer";
                    alert("Something went wrong, please try again later");
                    $("#RemoveModal").modal('hide');
                }
            });
        };
        
        function PayOffer(offerID){
            var url = "{% url 'atm_functions:PayOffer' %}";
            var data = {
                offerID: offerID,
                csrfmiddlewaretoken: getCookie('csrftoken')
            };
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function(response){
                    document.getElementById(offerID).id = "pay_loan";
                    $("#transaction_b_"+offerID).remove();
                    $("#PayModal").modal('hide');
                    $("#PayModal").modal('hide');
                },
                error: function(response){
                    document.getElementById(offerID).id = "pay_loan";
                    alert("Something went wrong, please try again later");
                    $("#PayModal").modal('hide');
                }
            });
        };

    </script>
    <!-- <div class="row">
        <div class="col-5 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">HAVE FUN USING CRYPTOSHARE!!!</h2>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Login to Account</button>
            </div>
        </div>
        <div class="col-xl-7 d-flex justify-content-center text-center">
            <div class="card container1">
                <h2 class="text-primary">CREATED BY :</h2>
                
                <h5>Anade Davis - Data Science Manager </h5>
                <h5>Shailee R. Desai - (Project Lead) Data Analyst </h5>
                <h5>Alexander Rodriguez - (Project Lead) Data Analyst </h5>
                <h5>William Munson - Data Scientist</h5>
                <h5>Harleen Bagga - Data Scientist</h5>
            </div>
        </div>
    </div> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

<!-- Modal -->
<div id="RemoveModal" class="modal" style="z-index: 2000;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>CANCEL CONFIRMATION</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p style="color: black;font-weight: 400; text-align: center;">Are you sure you want to cancel the following offer?</p>
            <ul style="list-style: none; margin: 0; padding: 0;">
                <li id="cancel_id" style="text-align: center;"></li>
                <li id="cancel_type" style="text-align: center;"></li>
                <li id="cancel_amount" style="text-align: center;"></li>
            </ul>
            <br>
            <div class="d-flex justify-content-center">
                <button style="text-align: center;" class="btn btn-danger" data-toggle="modal" onclick="RemoveOffer(this.id)" id="delete_offer">Delete Offer</button> 
            </div>
        </div>
    </div>
    
</div>

<div id="PayModal" class="modal" style="z-index: 2000;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>PAYMENT CONFIRMATION</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p style="color: black;font-weight: 400; text-align: center;">Are you sure you want to pay the following offer?</p>
            <ul style="list-style: none; margin: 0; padding: 0;">
                <li id="pay_id" style="text-align: center;"></li>
                <li id="pay_type" style="text-align: center;"></li>
                <li id="pay_amount" style="text-align: center;"></li>
            </ul>
            <br>
            <div class="d-flex justify-content-center">
                <button style="text-align: center;" class="btn btn-success" data-toggle="modal" onclick="PayOffer(this.id)" id="pay_loan">Pay Loan</button> 
            </div>
        </div>
    </div>
    
</div>