{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}

<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container" style="margin-top: 5%;">
        {% include 'messages.html' %}
        <div style="text-align:center" class="ml-4 mt-4" style="width:30%;min-width:400px;">
            <form action="/atm/SendMoneyConfirmation/?wallet=cryptoshare" method="post">
                {% csrf_token %}
                <div class="form-group" style="margin-right: 5%;">
                    <label for="sendingAccount"><b>Your Account/Buyer/Sender</b></label>
                    <select class="form-control" id="sendingAccount" aria-describedby="sendingAccount" name="sendingAccount">
                        <option disabled>Select Account</option >
                        {% for balance in balances %}
                        <option value="{{ balance.currency_name.currency_name }}|{{ balance.currency_name.blockchain }}|{{ balance.amount|floatformat:4 }}">{{ balance.currency_name.symbol }} : {{ balance.currency_name.currency_name }} || Balance : {{ balance.amount|floatformat:4 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" style="margin-right: 5%;">
                    <label for="sendingAmount"><b>Amount to send</b></label>
                    <input type="number" class="form-control" id="sendingAmount" aria-describedby="sendingAmount" name="sendingAmount"
                        step=".000001" placeholder="Amount you want to send">
                    <button type="button" class="btn btn-primary mt-2" onclick="setMaxAmount();">MAX AMOUNT</button>
                </div>
                <div class="form-group" style="margin-right: 5%;">
                    <label for="recipientUser"><b>Recipient/Seller/Vendor</b></label>
                    <input type="text" class="form-control" id="recipientUser" aria-describedby="recipientUser" name="recipientUser"
                        placeholder="Please enter the recipient address">
                </div>
                <button style="margin-left:auto; margin-right:auto;" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        //Get balance amount from sendingAccount and make it max value
        function setMaxAmount(){
            var sendingAccount = document.getElementById("sendingAccount");
            var balance = sendingAccount.options[sendingAccount.selectedIndex].value.split("|")[2];
            document.getElementById("sendingAmount").max = balance;
            document.getElementById("sendingAmount").value = balance;
        }


    </script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>


    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }

        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>

    <!-- <div class="hero" style="></div> -->



    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
{% include 'atm_footer.html' %}
</html>