{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}

<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container" style="margin-top: 5%;">
        {% include 'messages.html' %}
        <div class="container" style="text-align:center" style="width:30%;min-width:400px;">
            <form action="/atm/SendMoneyConfirmation/?wallet=credits" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="sendingAccount">
                        <b>Your Account</b>
                    </label>
                    <select class="form-select" id="sendingAccount" aria-describedby="sendingAccount" name="sendingAccount">
                        <option disabled>Select Account</option >
                        {% for balance in balances %}
                        <option value="{{ balance.digital_currency_name.currency_name }}|{{ balance.amount|floatformat:0 }}">{{ balance.digital_currency_name.symbol }} : {{ balance.digital_currency_name.currency_name }} || Balance : {{ balance.amount|floatformat:0 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="sendingAmount">
                        <b>Amount to send</b>
                    </label>
                    <input type="number" class="form-control" id="sendingAmount" aria-describedby="sendingAmount" name="sendingAmount"
                        step=".000001" placeholder="Amount you want to send" required>
                    <button type="button" class="btn btn-primary mt-2" onclick="setMaxAmount();">MAX AMOUNT</button>
                </div>
                

                <div class="row g-4 justify-content-center m-4">
                    <label for="receiverForm">
                        <b>Please choose a receiver option</b>
                    </label>
                    <div class="form-check col-md-2">
                        <input class="form-check-input" type="radio" name="receiverForm" id="receiverForm" value="username" onclick="changeReceiverForm('receiver_contact', 'receiver_username')" required>
                        <label class="form-check-label" for="receiverForm">
                          Username
                        </label>
                      </div>
                      <div class="form-check col-md-2">
                        <input class="form-check-input" type="radio" name="receiverForm" id="receiverForm2" value="contact" onclick="changeReceiverForm('receiver_username', 'receiver_contact')" required>
                        <label class="form-check-label" for="receiverForm2">
                          Contacts
                        </label>
                      </div>
                </div>

                <label for="recipientUser">
                    <b>Please Enter Receiver Username</b>
                </label>
                
                <div id="receiver_username" class="mb-3" style="display: none;">
                    <input type="text" class="form-control" id="recipient_user" aria-describedby="recipient_user" name="recipient_user" placeholder="Please enter the recipient username" onchange="document.getElementById('submit_button').removeAttribute('disabled', '')">
                </div>

                <div id="receiver_contact" class="mb-3" style="display: none;">
                    <label for="user_contact" class="col-sm-2 col-form-label">Contact list</label>
                    <select class="form-select" name="user_contact" id="user_contact" onchange="document.getElementById('submit_button').removeAttribute('disabled', '')">
                        <option disabled selected>Select contact</option>
                        {% for contact in contacts %}
                        <option value="{{ contact.id }}">{{ contact.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button id="submit_button" type="submit" class="btn btn-primary" disabled>Send Credits</button>
                </div>
                <!-- <button id="submit_button" style="margin-left:auto; margin-right:auto;" type="submit" class="btn btn-primary" disabled>Submit</button> -->
            </form>
        </div>

        <h2 class="text-center text-secondary" style="font-size: 25px;">Transaction History</h2>
        <div class="container table-responsive" style="padding: 0;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Type</th>
                        <th class="text-center" scope="col">From / To</th>
                        <th class="text-center" scope="col">Amount</th>
                        <th class="text-center" scope="col">Date</th>

                    </tr>
                </thead>
                <tbody>
                    {% for transaction in historical_transactions %}
                        <tr class="text-center">
                            {% if transaction.sender_user == request.user %}
                            <td>
                                <span class="badge bg-danger">SENT</span>
                            </td>
                            <td>{{ transaction.receiver_username }}</td>
                            {% else %}
                            <td>
                                <span class="badge bg-success">RECEIVED</span>
                            </td>
                            <td>{{ transaction.sender_username }}</td>
                            {% endif %}


                            
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.creation_datetime }} UTC</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        //Get balance amount from sendingAccount and make it max value
        function setMaxAmount(){
            var sendingAccount = document.getElementById("sendingAccount");
            var balance = sendingAccount.options[sendingAccount.selectedIndex].value.split("|")[1];
            document.getElementById("sendingAmount").max = balance;
            document.getElementById("sendingAmount").value = balance;
        }


    </script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>


    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }

        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });

        function changeReceiverForm(hideForm, showForm){
            var hideElement = document.getElementById(hideForm);
            var showElement = document.getElementById(showForm);

            hideElement.style.display = "none";
            showElement.style.display = "block";
            
            var contactInput = document.getElementById("user_contact");
            var usernameInput = document.getElementById("recipient_user");

            if (showForm == "receiver_contact"){
                contactInput.setAttribute("required", "")
                usernameInput.removeAttribute("required", "")
            }

            if (showForm == "receiver_username"){
                usernameInput.setAttribute("required", "")
                contactInput.removeAttribute("required", "")
            }

            document.getElementById('submit_button').setAttribute('disabled', '')

        }
    </script>

    <!-- <div class="hero" style="></div> -->



    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
{% include 'atm_footer.html' %}
</html>