{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% include 'banner.html' %}
    {% include 'messages.html' %}
    {% if name is not None %}
    {% include 'a_sessiontimeout.html' %}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="container my-4">
                <div class="row">
                    <div class="card container1">
                        {% if name is None %}
                        <h2 class="text-primary title">Welcome!</h2>
                        {% else %}
                        <h2 class="text-primary title">Welcome,  {{ name }}!</h2>
                        {% endif %}
                        <p class="signed_in">Make a selection:</p>
                        {% if name is None %}
                        <a href="{% url 'authentication:Email' %}"><button type="button"
                            class="btn btn-primary btn-lg btn-block">Create Account</button>
                        </a>
                        <br>
                        {% elif auth_level == 1 %}
                        <!-- <a href="{% url 'authentication:Registration' %}"><button type="button"
                            class="btn btn-primary btn-lg btn-block">Create Digital Card Wallet</button>
                        </a> -->
                        {% elif auth_level == 2 %}
                        <a href="{% url 'authentication:CardProducts' %}"><button type="button"
                            class="btn btn-primary btn-lg btn-block">Apply for Digital Debit Card</button>
                        </a>
                        {% elif auth_level == 3 %}
                        <a href="{% url 'authentication:CardInfo' %}"><button type="button"
                            class="btn btn-primary btn-lg btn-block">View Debit Card Info</button>
                        </a>
                        {% endif %}
                        {% if name is not None %}
                        <a href="{% url 'atm_functions:CheckBalance' %}"><button type="button"
                            class="btn btn-primary btn-lg btn-block">My Account</button>
                        </a>
                        <br>
                        {% endif %}
                        {% if name is None %}
                        <a href="{% url 'authentication:Login' %}"><button type="button"
                            class="btn btn-secondary btn-lg btn-block">Login To Existing Account</button>
                        </a>
                        <br>
                        {% endif %}
                        <a href="https://wefunder.com/cryptoshare" target="_blank">
                            <button type="button" class="btn btn-invest btn-secondary btn-lg btn-block" style="background-color:green;">
                                Buy Future Stock
                            </button>
                        </a>
                        <br>
                        <a href="{% url 'authentication:GiveBack' %}"><button type="button"
                            class="btn btn-primary btn-lg btn-block">Give Crypto</button>
                        </a>
                        <br>
                        <a href="{% url 'authentication:Home' %}"><button type="button" class="btn btn-primary">Back</button>
                        </a>
                        {% if name is not None %}
                        <br>
                        <form action="{% url 'authentication:Logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% include "animations/animations-1.html" %}
        </div>
    </div>
    <!-- Code provided by Google -->
    {% include 'info_card.html' %}
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    
    <!-- <div class="hero" style="></div> -->
    
    
    
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.j' %}s"></script>
    <script src="{% static 'js/jquery.sticky.j' %}s"></script>
    <script src="{% static 'js/main.j' %}s"></script>
    {% include 'footer.html' %}
</body>
</html>
