{% load static %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<body>
    {% include 'atm_sidebar.html' %}
    <div class="content-container" style="margin-top: 5%; height: max-content;">

        <div id="swapzonePartnersWidget"        
            data-from="btc" 
            data-to="eth" 
            data-size="full" 
            data-refid="DocSgKA5Ir"
            data-mode = "light"
            data-hidelogo = true
        >
        </div>
    </div>

    <script src="https://swapzone.io/script/partners-widget.js"></script>
    
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>

    <script src="{% static 'js/simpleswap_client.js' %}"></script>


    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }

        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });

        function sendCryptoFocus(){
            document.getElementById('sendCrypto').value=''; 
            document.getElementById('exchangeLimits').innerHTML=''; 
            document.getElementById('getCrypto').value='';
        }

        function step(hideStep, showStep){


            var steps = document.getElementsByClassName("step");
            var extraData = document.getElementsByClassName("extraData");
            var addressInput = document.getElementById('receiverAddress');
            var extraDataInput = document.getElementById('receiverAddress');


            steps[hideStep].style.display = "none";
            steps[showStep].style.display = "block";

            if (!simpleSwapClient.hasExtraData){
                extraData[0].style.display = "none";
            }else{
                extraDataInput.setAttribute("pattern", simpleSwapClient.currencyData.extraPattern)
                extraData[0].style.display = "block";
            }

            addressInput.setAttribute("pattern", simpleSwapClient.currencyData.validation_address)

        }
    </script>
</body>

<style>
    .swap-crypto{
        background-color:blue; 
        padding-bottom: 20px; 
        border-radius: 15px; 
        border: 2px solid;
        border-color: gray;
    }

    .single-crypto-box{
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid;
        border-color: gray;
    }

    .col-lg-2,
    .col-md-3,
    .col-xs-6 {
        margin-top: 30px !important;
    }
</style>
{% include 'atm_footer.html' %}

</html>