{% load static %}
{% load tz %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}

<body>
    {% if iframe is None %}
    {% include 'businesses/businesses_sidebar.html' %}
    {% endif %}
    <div class="content-container">
        {% include 'messages.html' %}
        {% include 'a_sessiontimeout.html' %}
        <h2 class="ml-4 text-primary">Businesses</h2>
        <br>
        <div class="btn-toolbar justify-content-center"" role="toolbar">
            <div class="btn-group m-2" role="group" aria-label="First button">
                <a href="{% url 'businesses:Create' %}">
                    <button type="button" class="btn btn-primary btn-lg">
                        Create Business
                    </button>
                </a>
            </div>

            <div class="btn-group m-2" role="group" aria-label="Second button">
                <a href="{% url 'businesses:Manage' %}">
                    <button type="button" class="btn btn-primary btn-lg">
                        Manage Business
                    </button>
                </a>
            </div>
        </div>

        <form action="{% url 'businesses:Search' %}" method="post">
            {% csrf_token %}
            <div class="btn-group container-fluid justify-content-center">
                <div style="text-align:center" class="form-row align-items-center">
                    <div class="col-auto my-1" style="margin-left: 10px; margin-right: 10px;">
                        <input class="form-check-input" type="radio" name="SearchOption" id="StartsWith" value="StartsWith">
                        <label class="form-check-label" for="StartsWith">
                            Starts With
                        </label>
                    </div>
                    <div class="col-auto my-1" style="margin-left: 10px; margin-right: 10px;">
                        <input class="form-check-input" type="radio" name="SearchOption" id="Contains" value="Contains">
                        <label class="form-check-label" for="Contains">
                            Contains
                        </label>
                    </div>
                    <div class="col-auto my-1" style="margin-left: 10px; margin-right: 10px;">
                        <input class="form-check-input" type="radio" name="SearchOption" id="ExactMatch" value="ExactMatch" checked>
                        <label class="form-check-label" for="ExactMatch">
                            Exact Match
                        </label>
                    </div>
                </div>
            </div>
            <div class="btn-group container-fluid justify-content-center">
                <div style="text-align:center; margin-left: 10px; margin-right: 10px;" >
                    <div class="col-auto my-1">
                    <input type="text" style="text-align:center;" name="SearchValue" class="form-control-plaintext border" id="SearchValue" placeholder="Business Name">
                    </div>
                </div>
            </div>
            <div class="container justify-content-center" style="text-align:center">
                <button type="submit" class="btn btn-primary m-2" >Search</button>
            </div>
        </form>
        <br>
        <h1 class="text-center">CryptoShare Business Directory</h1>
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col" style="text-align: center;"></th>
                <th scope="col" style="text-align: center;">Name</th>
                <th scope="col" style="text-align: center;">Category</th>
                <th scope="col" style="text-align: center;">Creation Date</th>
                <th scope="col" style="text-align: center;">Details</th>
            </tr>
            </thead>
            <tbody>
                {% for business in businesses %}
                    <tr>
                        <th class="align-middle" scope="row" style="text-align: center;">
                            {% if business.logo_url %}
                            <img src="{{ business.logo_url|default:'' }}?w=50" class="img-thumbnail">
                            {% else %}
                            <span class="badge bg-light text-dark">NO LOGO</span>
                            {% endif %}
                        </th>
                        <th class="align-middle" scope="row" style="text-align: center;">{{ business.official_name }} </th>
                        <td class="align-middle" style="text-align: center;">{{ business.category }} </td>
                        <td class="align-middle" style="text-align: center;">{{ business.creation_datetime }} UTC</td>
                        <td class="align-middle" style="text-align: center;">
                            <button style=text-align:center class="btn btn-outline-primary bg-primary text-light" type="button"
                            id="button_details" disabled>Full Details</button>
                        </td>
                    </tr>
                {% endfor %}
                {% if not businesses %}
                    <tr>
                        <th scope="row" style="text-align: center;" colspan="2">No Businesses</th>
                        <td style="text-align: center;">
                                <button style=text-align:center class="btn btn-outline-primary bg-primary text-light" type="submit"
                                id="button-beneficiaries" disabled>Full Details</button>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>


    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }

        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>