{% load static %}
{% load tz %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% if iframe is None %}
    {% include 'businesses/businesses_sidebar.html' %}
    {% endif %}
    <div class="content-container">
        {% include 'messages.html' %}
        {% include 'a_sessiontimeout.html' %}
        <h2 class="ml-4 text-primary">Create Business</h2>
        <br>
        <form action="{% url 'businesses:Create' %}" method="post">
            {% csrf_token %}
            <div class="form-group col-md-12">
                <label for="business_name"><b>New Business Name</b></label>
                <input type="text" class="form-control" id="business_name" aria-describedby="business_name" name="business_name"
                    placeholder="Enter your new business name" required>
            </div>
            <div class="form-group col-md-12">
                <label for="business_username"><b>New Business Username</b></label>
                <input type="text" class="form-control" id="business_username" aria-describedby="business_username" name="business_username"
                    placeholder="Enter your new business username" required>
            </div>
            <div class="form-group col-md-12">
                <label for="business_category">Business Category:</label>
                <select type="text" class="form-control" name="business_category" id="business_category" required>
                    <option disabled selected>Select category</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Entretainment">Entertainment</option>
                    <option value="Digital Services">Digital Services</option>
                    <option value="Digital Products">Digital Products</option>
                    <option value="Games">Games</option>
                    <option value="Workshops">Workshops</option>
                    <option value="Consultations">Consultations</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="business_price"><b>Business Creation Price: </b>  <em>In Cryptoshare Credits</em></label>
                <input type="number" class="form-control" id="business_price" aria-describedby="business_price" name="business_price"
                    step=".0001" value="50" required readonly>
            </div>
            <h2 class="ml-4 text-secondary" style="font-size: 25px;">Blockchain Business Bylaws</h2>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_money_laundring" name="cb_money_laundring" required>
                    <label class="form-check-label" for="cb_money_laundring">
                        I Understand that this Business should not be used for anything illegal in my country, Fraud, or Money Laundering. 
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_country_laws" name="cb_country_laws" required>
                    <label class="form-check-label" for="cb_country_laws">
                        I Understand if I break any laws in my Country, Cryptoshare Banq is not liable and will cooperate with Local Law Enforcement.
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_business_validity" name="cb_business_validity" required>
                    <label class="form-check-label" for="cb_business_validity">
                        I Understand this business is only Valid in the Cryptoshare Banq Ecosystem and Metaverse (this Business will not be Recognized or Enforced in My Country).
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_currency" name="cb_currency" required>
                    <label class="form-check-label" for="cb_currency">
                        I understand Cryptoshare Credits is NOT FIAT or Cryptocurrency.
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_business_pay" name="cb_business_pay" required>
                    <label class="form-check-label" for="cb_business_pay">
                        I Understand this Business Account allows People and other Businesses to pay me using my Business Name.
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_disputes" name="cb_disputes" required>
                    <label class="form-check-label" for="cb_disputes">
                        I Understand each Business Dispute will be decided by a Minimum of 3 Cryptoshare Banq Members (All Decisions are Final).
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_smart_contract" name="cb_smart_contract" required>
                    <label class="form-check-label" for="cb_smart_contract">
                        I Understand that Each Business Deal will be bound by a Digital/Smart Contract.
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_filling_cost" name="cb_filling_cost" required>
                    <label class="form-check-label" for="cb_filling_cost">
                        I Understand a Cryptoshare Business Filing Cost is due every year from Creation Date (supports our Platform).
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_crypto_ban" name="cb_crypto_ban" required>
                    <label class="form-check-label" for="cb_crypto_ban">
                        I Declare Cryptocurrency is not Banned or Illegal in my Country.
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_business_laws" name="cb_business_laws" required>
                    <label class="form-check-label" for="cb_business_laws">
                        I Affirm I have read and understand all Cryptoshare Business Bylaws.
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_cs_credits" name="cb_cs_credits" required>
                    <label class="form-check-label" for="cb_cs_credits">
                        I understand that I must have at least 50 Cryptoshare Credits to Create a Business.
                    </label>
                </div>
            </div>
            <div class="container-fluid" style="background-color: #e2ff9f81; padding: 1%;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cb_name_change" name="cb_name_change" required>
                    <label class="form-check-label" for="cb_name_change">
                        I understand that the only way to change my name is 10 Cryptoshare Credits.
                    </label>
                </div>
            </div>
            <small id="addressRegisterHelp" class="form-text text-muted">We'll never share information with anyone else</small>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>