{% load static %}
{% load tz %}
{% static "images" as baseUrl %}

<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body>
    {% if iframe is None %}
    {% include 'businesses/businesses_sidebar.html' %}
    {% endif %}
    <div class="content-container">
        {% include 'messages.html' %}
        {% include 'a_sessiontimeout.html' %}
        <h2 class="ml-4 text-primary">My Businesses</h2>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col" style="text-align: center;">Name</th>
                <th scope="col" style="text-align: center;">Logo</th>
                <th scope="col" style="text-align: center;">Category</th>
                <th scope="col" style="text-align: center;">Details</th>
            </tr>
            </thead>
            <tbody>
                {% for business in businesses %}
                    <tr>
                        <th class="align-middle" scope="row" style="text-align: center;">{{ business.official_name }} </th>
                        <th class="align-middle" scope="row" style="text-align: center;"><img src="{{ business.logo_url }}?w=70" class="img-thumbnail"></th>
                        <td class="align-middle" style="text-align: center;">{{ business.category }} </td>
                        <td class="align-middle" style="text-align: center;">
                            <a href="{% url 'businesses:Edit' %}?id={{ business.id_business }}">
                                <button type="button" class="btn btn-primary">
                                    Edit Business
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {% if not businesses %}
                    <tr>
                        <th scope="row" style="text-align: center;" colspan="2">No Businesses</th>
                        <td style="text-align: center;">
                                <button style=text-align:center class="btn btn-outline-primary bg-primary text-light" type="submit"
                                id="button-beneficiaries" disabled>Edit Business</button>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element'); //remove the layout
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
    
    
    <script type="text/javascript">
        function triggerHtmlEvent(element, eventName) {
            var event;
            if (document.createEvent) {
                event = document.createEvent('HTMLEvents');
                event.initEvent(eventName, true, true);
                element.dispatchEvent(event);
            } else {
                event = document.createEventObject();
                event.eventType = eventName;
                element.fireEvent('on' + event.eventType, event);
            }
        }
        
        $('.translation-links a').click(function (e) {
            e.preventDefault();
            var lang = $(this).data('lang');
            $('#google_translate_element select option').each(function () {
                if ($(this).text().indexOf(lang) > -1) {
                    $(this).parent().val($(this).val());
                    var container = document.getElementById('google_translate_element');
                    var select = container.getElementsByTagName('select')[0];
                    triggerHtmlEvent(select, 'change');
                }
            });
        });
    </script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>